
		<!-- begin colours.css.html -->
		<style>
			:root {
				--primary_colour: {{ page.colours['primary colour'] }};
				--secondary_colour: {{ page.colours['secondary colour'] }};
				--border_colour: {{ page.colours['border colour'] }};
				--text_colour: {{ page.colours['text colour'] }};
				{%- if page.colours['primary_colour'] == page.colours['secondary_colour'] %}
				--glow_colour: var(--text_colour);
				{%- else %}
				--glow_colour: var(--primary_colour);
				{%- endif -}
				--background: linear-gradient(0deg, var(--primary_colour) 10%, var(--secondary_colour) 100%);
			}
		</style>
		<!-- end colours.css.html -->
