
		<!-- begin colours.css.html -->
		<style>
			:root {
				--bg_colour_1: {{ page.colours.['bg colour 1'] | replace: "default", site.colours.['bg colour 1'] }};
				--bg_colour_2: {{ page.colours.['bg colour 2'] | replace: "default", site.colours.['bg colour 2'] }};
				--glow_colour_1: {{ page.colours.['glow colour 1'] | replace: "default", site.colours.['glow colour 1'] }};
				--glow_colour_2: {{ page.colours.['glow colour 2'] | replace: "default", site.colours.['glow colour 2'] }};
				--text_colour: {{ page.colours.['text colour'] | replace: "default", site.colours.['text colour'] }};
				--border_colour: {{ page.colours.['border colour'] | replace: "default", site.colours.['text colour'] }};
				--placeholder_colour: {{ page.colours.['placeholder colour'] | replace: "default", site.colours.['placeholder colour'] }};
				--background: linear-gradient(0deg, var(--bg_colour_1) 10%, var(--bg_colour_2) 100%);
			}
		</style>
		<!-- end colours.css.html -->
