

				<!-- begin content.html -->
				{%- comment -%}
					<!-- begin setup -->
				{%- endcomment -%}
					{%- if page.['page content'].['is titled'] -%}
						{%- assign titled = true -%}
					{%- else -%}
						{%- assign titled = false -%}
					{%- endif %}
					{%- capture page_content -%}
						{{ content }}
					{%- endcapture -%}
					{%- assign separator = "<!-- break -->" -%}
					{%- if page_content contains separator -%}
						{%- assign separated = true -%}
						{%- assign separated_page_content = page_content | split: separator -%}
						{%- assign page_content_before = separated_page_content[0] -%}
						{%- assign page_content_after = separated_page_content[1] -%}
						{%- if separated_page_content[2] -%}
							{%- assign extended = true -%}
						{%- else -%}
							{%- assign extended = false -%}
						{%- endif -%}
						{%- comment -%}
							<!-- begin style capture for separated articles -->
						{%- endcomment %}
						{%- capture article_style_index -%}
							{%- for article in separated_page_content -%}
								{%- assign article_index = forloop.index0 -%}
								{%- if article contains "<!--" -%} {%- comment -%} --> {%- endcomment -%}
									{%- assign separated_article_content = article | replace: "<!--", "<!-- STYLE BREAK PASS -->" | replace: "-->", "<!-- STYLE BREAK PASS -->" | split: "<!-- STYLE BREAK PASS -->" -%}
									{%- for item in separated_article_content -%}
										{%- if item contains "style:" -%}
											<!-- STYLE INDEX PASS --> <!-- STYLE INDEX {{ article_index }} --> {{- item | remove: "style:" | strip -}}
										{%- endif -%}
									{%- endfor -%}
								{%- endif -%}
							{%- endfor -%}
						{%- endcapture -%}
						{%- comment -%}
							<!-- end style capture for separated articles -->
						{%- endcomment %}
					{%- else -%}
						{%- assign separated = false -%}
						{%- comment -%}
							<!-- begin style capture for non-separated articles -->
						{%- endcomment %}
						{%- capture article_style_index -%}
							{%- if page_content contains "<!--" -%} {%- comment -%} --> {%- endcomment -%}
								{%- assign separated_article_content = page_content | replace: "<!--", "<!-- STYLE BREAK PASS -->" | replace: "-->", "<!-- STYLE BREAK PASS -->" | split: "<!-- STYLE BREAK PASS -->" -%}
								{%- for item in separated_article_content -%}
									{%- if item contains "style:" -%}
										<!-- STYLE INDEX PASS --> <!-- STYLE INDEX 0 --> {{- item | remove: "style:" | strip -}}
									{%- endif -%}
								{%- endfor -%}
							{%- endif -%}
						{%- endcapture -%}
						{%- comment -%}
							<!-- end style capture for non-separated articles -->
						{%- endcomment %}
					{%- endif -%}
					{%- comment -%}
						<!-- begin style index -->
					{%- endcomment %}
					{%- assign style_index = article_style_index | split: "<!-- STYLE INDEX PASS -->" -%}
					{%- comment -%}
						<!-- end style index -->
					{%- endcomment %}
				{%- comment -%}
					<!-- end setup -->
				{%- endcomment %}
				{%- unless page.layout == "cascade" %}
				<article class="main_container-main_wrapper">
					{%- if titled %}
					<header class="main_wrapper-main_title">
						<h1 class="--article_title_styling">
							{{ page.title | replace: "&" , "and" }}
						</h1>
					</header>
					{%- endif %}
					{%- assign processed_article_content = content | newline_to_br | strip_newlines | remove: "<br />" | strip | remove: " " -%}
					{%- unless processed_article_content == empty -%}
						{%- assign article_index = "<!-- STYLE INDEX 0 -->" %}
					<section class="main_wrapper-main_article --article_text_styling --article_before" style="{%- capture style -%} {%- for item in style_index -%} {%- if item contains article_index -%} {{ item | remove: article_index | strip | append: ';' | replace: ';;', ';' | append: ' ' }} {%- endif -%} {%- endfor -%} {%- endcapture -%} {{- style | strip -}}">
						{%- if separated %}
						{{ page_content_before | strip }}
						{%- else %}
						{{ content | strip }}
						{%- endif %}
					</section>
					{%- endunless %}
				<!-- CONTENT BREAK -->
					{%- if separated -%}
						{%- assign article_index = "<!-- STYLE INDEX 1 -->" -%}
						{%- assign processed_article_content = page_content_after | newline_to_br | strip_newlines | remove: "<br />" | strip | remove: " " -%}
						{%- unless processed_article_content == empty %}
					<section class="main_wrapper-main_article --article_text_styling --article_after" style="{%- capture style -%} {%- for item in style_index -%} {%- if item contains article_index -%} {{ item | remove: article_index | strip | append: ';' | replace: ';;', ';' | append: ' ' }} {%- endif -%} {%- endfor -%} {%- endcapture -%} {{- style | strip -}}">
						{{ page_content_after | strip }}
					</section>
						{%- endunless -%}
					{%- endif -%}
					{%- if extended -%}
						{%- for article in separated_page_content offset: 2 -%}
							{%- assign article_index = forloop.index0 | plus: 2 | downcase | prepend: "<!-- STYLE INDEX " | append: " -->" -%}
							{%- assign processed_article_content = article | newline_to_br | strip_newlines | remove: "<br />" | strip | remove: " " -%}
							{%- unless processed_article_content == empty %}
					<section class="main_wrapper-main_article --article_text_styling --article_extended" style="{%- capture style -%} {%- for item in style_index -%} {%- if item contains article_index -%} {{ item | remove: article_index | strip | append: ';' | replace: ';;', '; ' | append: ' ' }} {%- endif -%} {%- endfor -%} {%- endcapture -%} {{- style | strip -}}">
						{{ article | strip }}
					</section>
							{%- endunless -%}
						{%- endfor -%}
					{%- endif %}
				</article>
				{%- else -%}
					{%- if page.['page footer'].['is displayed'] -%}
						{%- assign footered = true -%}
					{%- else -%}
						{%- assign footered = false -%}
					{%- endif %}
				<div class="main_container-cascade_wrapper">
					{%- if titled %}
					<header class="cascade_wrapper-title_card">
						<h1 class="--article_title_styling">
							{{ page.title | replace: "&" , "and" }}
						</h1>
					</header>
					{%- endif %}
					<!-- cascade -->
					{%- if footered %}
					<footer class="cascade_wrapper-footer_card">
							{%- include footer.html %}					</footer>
					{%- endif %}
				</div>
				{%- endunless %}
				<!-- end content.html -->
