

				<!-- begin content.html -->
				{%- comment -%}
					<!-- begin setup -->
				{%- endcomment -%}
					{%- if page.layout == "cascade" -%}
						{%- assign cascade = true -%}
					{%- else -%}
						{%- assign cascade = false -%}
					{%- endif -%}
					{%- if page.['page content'].['is titled'] -%}
						{%- assign titled = true -%}
					{%- else -%}
						{%- assign titled = false -%}
					{%- endif -%}
					{%- if page.['page footer'].['is displayed'] -%}
						{%- assign footered = true -%}
					{%- else -%}
						{%- assign footered = false -%}
					{%- endif -%}
					{%- capture page_content -%}
						{{ content }}
					{%- endcapture -%}
					{%- assign separator = "<!-- break -->" -%}
					{%- assign style_declaration = "style:" -%}
					{%- assign content_declaration = "<!-- content -->" -%}
					{%- assign blocks = page_content | split: separator -%}
					{%- comment -%}
						<!-- begin comment capture -->
					{%- endcomment %}
					{%- capture block_index -%}
						{%- for block in blocks -%}
							{%- assign current_block = forloop.index0 -%}
							{%- if block contains "<!--" -%} {%- comment -%} --> {%- endcomment -%}
								{%- capture current_block_comments -%}
									{%- assign inlines = block | remove: content_declaration | replace: "<!--", "<!-- COMMENT BREAK PASS -->" | replace: "-->", "<!-- COMMENT BREAK PASS -->" | split: "<!-- COMMENT BREAK PASS -->" -%}
									{%- for inline in inlines -%}
										{%- if inline contains style_declaration -%}
											<!-- STYLE INDEX PASS -->
												<!-- STYLE INDEX {{ current_block }} --> {{- inline | remove: style_declaration | strip -}}
											<!-- STYLE INDEX PASS -->
										{%- endif -%}
									{%- endfor -%}
								{%- endcapture -%}
							{%- endif -%}
						{%- endfor -%}
					{%- endcapture -%}
					{%- comment -%}
						<!-- end comment capture -->
					{%- endcomment %}
					{%- comment -%}
						<!-- begin style index -->
					{%- endcomment %}
					{%- assign style_index = current_block_comments | split: "<!-- STYLE INDEX PASS -->" -%}
					{%- comment -%}
						<!-- end style index -->
					{%- endcomment %}
				{%- comment -%}
					<!-- end setup -->
				{%- endcomment %}
				{%- unless cascade %}
				<article class="main_container-main_wrapper">
					{%- if titled %}
					<header class="main_wrapper-main_title" {%- if page.['page content'].['title styles'] %} style="{{- page.['page content'].['title styles'] | strip -}}" {%- endif -%}>
						<h1 class="--article_title_styling">
							{{ page.title | replace: "&" , "and" }}
						</h1>
					</header>
					{%- endif %}
					{%- for block in blocks -%}
						{%- if block contains content_declaration -%}
					<!-- CONTENT BREAK -->
						{%- endif -%}
						{%- assign current_block_index = "<!-- STYLE INDEX {{ forloop.index0 }} -->" -%}
						{%- assign processed_article_content = block | newline_to_br | strip_newlines | remove: "<br />" | strip | remove: " " -%}
						{%- unless processed_article_content == empty %}
					<section class="main_wrapper-main_article --article_text_styling --article_before" style="{%- capture style -%} {%- for item in style_index -%} {%- if item contains current_block_index -%} {{ item | remove: article_index | strip | append: ';' | replace: ';;', ';' | append: ' ' }} {%- endif -%} {%- endfor -%} {%- endcapture -%} {{- style | strip -}}">
						{{ block | strip }}
					</section>
						{%- endunless -%}
					{%- endfor %}
				</article>
				{%- else %}
				<div class="main_container-cascade_wrapper" id="cascade_wrapper">
					{%- if titled %}
					<header class="cascade_wrapper-title_card" {%- if page.['page content'].['title styles'] %} style="{{- page.['page content'].['title styles'] | strip -}}" {%- endif -%}>
						<h1 class="--article_title_styling">
							{{ page.title | replace: "&" , "and" }}
						</h1>
					</header>
					{%- endif -%}
					{%- assign cards = content | split: "<!-- break -->"-%}
					{%- for card in cards -%}
					{{ card | strip }}
					{%- endfor -%}
					<div style="height: calc(var(--cascade_height)); width: 50vw; background: black;"></div>
					{%- if footered %}
					<footer class="cascade_wrapper-footer_card" {%- if page.['page footer'].styles %} style="{{- page.['page footer'].styles | strip -}}" {%- endif -%}>
							{%- include footer.html %}					</footer>
					{%- endif %}
				</div>
				{%- endunless %}
				<!-- end content.html -->
