		<!-- begin fonts.css.html -->
		<style>
			@font-face {
				font-family: "Code New Roman";
				src:
					url("{{ site.baseurl }}/assets/fonts/code_new_roman/code_new_roman-regular.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/code_new_roman/code_new_roman-regular.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/code_new_roman/code_new_roman-regular.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/code_new_roman/code_new_roman-regular.ttf") format("truetype");
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: "M+ 1p";
				src:
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-light.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-light.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-light.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-light.ttf") format("truetype");
				font-weight: 300;
				font-style: normal;
			}
			@font-face {
				font-family: "M+ 1p";
				src:
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-regular.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-regular.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-regular.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/mplus_1p/mplus_1p-regular.ttf") format("truetype");
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: "Le Murmure";
				src:
					url("{{ site.baseurl }}/assets/fonts/le_murmure/le_murmure-regular.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/le_murmure/le_murmure-regular.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/le_murmure/le_murmure-regular.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/le_murmure/le_murmure-regular.woff2") format("woff2");
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: "Ultra Hyper";
				src:
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-regular.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-regular.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-regular.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-regular.ttf") format("truetype");
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: "Ultra Hyper";
				src:
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-italic.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-italic.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-italic.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/ultrahyper/ultrahyper-italic.ttf") format("truetype");
				font-weight: 400;
				font-style: italic;
			}
			@font-face {
				font-family: "Karrik";
				src:
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.svg") format("svg"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.woff2") format("woff2"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-regular.ttf") format("truetype");
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: "Karrik";
				src:
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.eot");
				src:
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.eot?#iefix") format("embedded-opentype"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.svg") format("svg"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.woff") format("woff"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.woff2") format("woff2"),
					url("{{ site.baseurl }}/assets/fonts/karrik/karrik-italic.ttf") format("truetype");
				font-weight: 400;
				font-style: italic;
			}
		</style>
		<!-- end fonts.css.html -->
