<div class="footer_container-footer_text_wrapper">
	<p class="--color_black --text_align_center --padding_bottom_universal_answer_single">
		Jad Toghuj
	</p>
	<addres class="--color_black --text_align_center --padding_bottom_universal_answer_single"s><p>
		@jad.toghuj
	</p></address>
	<address><p class="--color_black --text_align_center --padding_bottom_universal_answer_single">
		jadtoghuj@gmail.com
	</p></address>
	<p class="--color_black --text_align_center">
		© 2021 Jad Toghuj
	</p>
	<p class="--color_black --text_align_center">
		By Basabees
	</p>
</div>
