
					<!-- begin footer.html -->
					{%- assign year = site.time | date: '%Y' %}
					<address>
						<p class="--footer_text_styling">
							{{ site.author | strip }}
						</p>
						<p class="--footer_text_styling">
							<a class="--anchor_styling --hyperlink_styling" href="https://www.instagram.com/{{- site.instagram | remove: '@' -}}">
								{{ site.instagram | strip }}
							</a>
						</p>
						<p class="--footer_text_styling">
							<a class="--anchor_styling --hyperlink_styling" href="mailto:{{- site.email -}}">
								{{ site.email | strip }}
							</a>
						</p>
						<p class="--footer_text_styling">
							&copy; 2021 {% if year != "2021" %} – {{ year }} {% endif %} Jad Toghuj
						</p>
						<p class="--footer_text_styling --no_padding">
							All rights reserved
						</p>
						<p class="--footer_text_styling">
							{{ site.['footer text'] | strip }}
						</p>
					</address>
					<!-- end footer.html -->
