<address>
	<p class="--footer_text_styling">
		{{ site.author }}
	</p>
	<p class="--footer_text_styling">
		<a href="https://www.instagram.com/{{ site.instagram | remove: "@" }}">{{ site.instagram }}</a>
	</p>
	<p class="--footer_text_styling">
		<a href="mailto:{{ site.email }}">{{ site.email }}</a>
	</p>
</address>
<p class="--footer_text_styling --no_bottom_padding">
	{% assign year = site.time | date: '%Y' %}
	&copy; 2021 {% if year != "2021" %} – {{ year }} {% endif %} Jad Toghuj
</p>
<p class="--footer_text_styling">
	All rights reserved
</p>
<p class="--footer_text_styling --no_bottom_padding">
	By Basabees for Batabeet
</p>
