<!-- begin header.html -->
<div class="header_container-header_wrapper{% if page.header_location == "central" %}_central{% elsif page.header_location == "upper" %}_upper{% endif %}">
	<a class="header_wrapper-header_anchor" href="{{ site.url }}{{ site.baseurl }}">
		{% include loader.html %}
		<img class="header_anchor-header_graphic" id="header_graphic" alt="Header" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
		<noscript>
			<img class="header_anchor-header_graphic" alt="Header" src="{{ site.baseurl }}{{ header_graphics[0].path }}">
		</noscript>
	</a>
</div>
{% include load.html %}
<noscript>
	<style>
		#header_graphic {
			display: none;
		}
		{% if page.header_location == "central" %}
			.header_anchor-header_graphic {
				padding-top: calc(var(--single));
				padding-bottom: calc(var(--single));
			}
		{% endif %}
	</style>
</noscript>
<!-- end header.html -->
