<ul class="content_container-list_page_wrapper">
	{% assign sorted = site[page.collection] | sort: "position" %}
	{% for item in sorted %}
		{% if item.is_listed == true %}
			<li class="list_page_wrapper-list_page_item">
				<a class="--anchor_styling --standard_text_styling --text_styling_3" href="{{ item.url }}">
					{{ item.title }}
				</a>
				{% if item.tags != empty %}
					<ul class="list_page_item-list_page_item_tag_list">
						{% for tag in item.tags %}
							<li class="list_page_item_tag_list-list_page_item_tag">
								{{ tag }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
