<!-- begin load.html -->
<div class="--load_wrapper" id="load_wrapper">
	<div class="--load"></div>
</div>
<style id="load_wrapper_style">
	/*
	┌───────┐
	│ begin └┐
	│ --load │
	└────────┘
	*/
	.--load_wrapper {
		width: calc(var(--quadruple));
		height: calc(var(--half));
		border: 1px solid var(--text_colour);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.--load {
		width: 87.5%;
		height: 100%;
		background-color: var(--text_colour);
		animation: load 10s ease-in-out;
	}
	@keyframes load {
		0% {
			width: 0;
		}
		25% {
			width: 12.5%;
		}
		50% {
			width: 25%;
		}
		75% {
			width: 50%;
		}
		87.5% {
			width: 75%;
		}
		100% {
			width: 87.5%;
		}
	}
</style>
<noscript>
	<style>
		.--load_wrapper {
			display: none;
		}
	</style>
</noscript>
<!-- end load.html -->
