<!-- begin map.html -->
{% assign tree = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" | split: "/" %}
<script>console.log("Current tree: {{ tree | join: ' ⟶ ' }}");</script>
{% for branch in tree %}
	{% assign segment = page.path | split: branch %}
	{% assign current = branch | prepend: segment[0] | append: ".markdown" %}
	{% assign deepness = forloop.index %}
	{% assign last = forloop.last %}
	{% if deepness == 1 and current != "404.markdown" and tree.size < 3 %}
		{% for node in site.pages %}
			{% assign deepness_one_current = current | remove_first: "_" %}
			{% if node.path == deepness_one_current %}
				<p class="--nav_text_styling --map_text_styling">{{ node.title }}</p>
				{% if last %}{% else %}<p class="--nav_text_styling"> ⟶ </p>{% endif %}
			{% endif %}
		{% endfor %}
	{% elsif deepness == 1 and current != "404.markdown" and tree.size >= 3 %}
		{% continue %}
	{% elsif deepness == 1 and current == "404.markdown" %}
		<p class="--nav_text_styling --map_text_styling">?</p>
		{% break %}
	{% else %}
		{% for node in site.documents %}
			{% if node.path == current %}
				<p class="--nav_text_styling --map_text_styling">{{ node.title }}</p>
				{% if last %}{% else %}<p class="--nav_text_styling"> ⟶ </p>{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
<!-- end map.html -->
