<!-- begin nav.html -->
{% if page.header_location == "upper" %}
	<input type="checkbox" id="nav_checkbox">
	<label for="nav_checkbox" class="nav_container_upper-nav_checkbox_toggle" onClick="lock_scroll();">
		<div class="--nav_checkbox_arrow"></div>
		{% include map.html %}
		<div class="--nav_checkbox_arrow"></div>
	</label>
{% endif %}
<ul class="nav_container-nav_list_wrapper">
	{% assign pages = site.pages | sort: "position" %}
	{% for node in pages %}
		{% if node.is_listed %}
			<li class="nav_list_wrapper-nav_list_item --nav_text_styling {% if node.url == page.url %} --current_nav_text_styling {% endif %}">
				<a class="--anchor_styling" href="{{ site.baseurl }}{{ node.url }}">
					{{ node.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end nav.html -->
