<!-- begin nav.html -->
{% if page.header_location == "upper" %}
	<input type="checkbox" id="nav_checkbox">
	<label for="nav_checkbox" class="nav_container_upper-nav_checkbox_toggle" onClick="lock_scroll();">
		<span class="--nav_checkbox_arrow"></span>
		{% include map.html %}
		<span class="--nav_checkbox_arrow"></span>
	</label>
{% else %}
	<script>
		console.log("[nav.html] map.html not included.");
	</script>
{% endif %}
<ul class="nav_container-nav_list_wrapper">
	{% assign pages = site.pages | sort: "position" %}
	{% for node in pages %}
		{% if node.is_listed %}
			<li class="nav_list_wrapper-nav_list_item --nav_text_styling {% if page.url contains node.url %} --current_nav_text_styling {% endif %}">
				<a class="--anchor_styling" href="{{ site.baseurl }}{{ node.url }}">
					{{ node.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<script>
	function lock_scroll() {
		window.scrollTo(0, 0);
		document.body.classList.toggle("--lock_scroll");
		console.log("[nav.html] Body scrolling temporarily locked.");
	}
</script>
<!-- end nav.html -->
