<!-- begin nav.html -->
{% if page.header_location == "upper" %}
	<input type="checkbox" id="nav_checkbox">
	<label for="nav_checkbox" class="nav_container_upper-nav_checkbox_toggle" onClick="lock_scroll();">
		{% include map.html %}
	</label>
	<div class="--nav_background"></div>
{% else %}
	<script>
		console.log("[nav.html] map.html not included.");
	</script>
{% endif %}
<ul class="nav_container-nav_list_wrapper">
	{% assign home = site.url | append: site.baseurl %}
	{% assign about = site.url | append: site.baseurl | append: "/about" %}
	{% if page.url != home %}
		<li class="nav_list_wrapper-nav_list_item --nav_text_styling --additional_nav_item">
			<a class="--anchor_styling" href="{{ site.url }}{{ site.baseurl }}">
				Home
			</a>
		</li>
	{% endif %}
	<li class="nav_list_wrapper-nav_list_item --nav_text_styling --additional_nav_item {% if page.url == about %} --current_nav_text_styling {% endif %}">
		<a class="--anchor_styling" href="{{ site.baseurl }}/about">
			About
		</a>
	</li>
	{% assign pages = site.pages | sort: "position" %}
	{% for node in pages %}
		{% if node.is_listed %}
			<li class="nav_list_wrapper-nav_list_item --nav_text_styling {% if node.path == "about.markdown" or node.path == "about.md" or node.path == "about.html" %} --extra_nav_item {% endif %} {% if page.url contains node.url %} --current_nav_text_styling {% endif %}">
				<a class="--anchor_styling" href="{{ site.baseurl }}{{ node.url }}">
					{{ node.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<script>
	function lock_scroll() {
		window.scrollTo(0, 0);
		document.body.classList.toggle("--lock_scroll");
		console.log("[nav.html] Body scrolling temporarily locked.");
	}
</script>
<!-- end nav.html -->
