{% assign tree = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" | split: "/" %}
	<script>console.log("Tree: {{ tree | join: ' ⟶ ' }}");</script>
	{% for branch in tree %}
		{% assign segment = page.path | split: branch %}
		{% assign current = branch | prepend: segment[0] | append: ".markdown" %}
		{% assign deepness = forloop.index %}
		<script>console.log("Branch {{ forloop.index }} Path: {{ current }}");</script>
		{% for node in site.documents %}
			{% if deepness == 1 %}
				<script>console.log("Deepness 1. Ignore for now.");</script>
			{% else %}
				{% if node.path == current %}
					<script>console.log("Branch {{ deepness }} Title: {{ node.title }}");</script>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% assign tree_size = tree | size %}
	<script>console.log("Tree size: {{ tree_size }}");</script>

{% if tree_size == 1 %}
	<p>{{ page.title }}</p>
{% elsif tree_size == 2 %}
	<p>{{ page.title }} but wait there's more </p>
{% endif %}
