{% assign tree = page.path | split: "/" %}
	<script>console.log("Tree: {{ tree | join: ' ⟶ ' }}");</script>
	{% assign last = tree | last %}
		<script>console.log("Last: {{ last }}");</script>
	{% assign current = page.name %}
		<script>console.log("Current: {{ current }}");</script>
	{% assign previous = tree | remove: last | remove: current | compact | join: "/" %}
		<script>console.log('Previous: {{ previous }}');</script>
	{% for branch in tree %}
		<script>console.log("Branch {{ forloop.index }}: {{ branch }}");</script>
	{% endfor %}
{% assign tree_size = tree | size %}
	<script>console.log("Tree size: {{ tree_size }}");</script>

{% if tree_size == 1 %}
	<p>{{ page.title }}</p>
{% elsif tree_size == 2 %}
	<p>{{ page.title }} but wait there's more </p>
{% endif %}
