<!-- begin rightward.html -->
<div class="--rightward_arrow_wrapper" id="arrow_wrapper" onClick="scroll_to_arrow(event);">
	<div class="--rightward_arrow"></div>
</div>
<style>
	.--rightward_arrow_wrapper {
		position: absolute;
		top: 50%;
		left: 100%;
		animation: arrow_appear 10s, rightward_arrow_bounce 2.5s infinite;
		padding: calc(var(--double));
	}
	.--rightward_arrow {
		border-left: calc(var(--single)) solid var(--text_colour);
		border-top: calc(var(--half)) solid transparent;
		border-bottom: calc(var(--half)) solid transparent;
		width: 0px;
		height: 0px;
	}
	@keyframes arrow_appear {
		0% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		90% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes rightward_arrow_bounce {
		0% {
			transform: translate(-100%, -50%);
		}
		50% {
			transform: translate(calc(-100% - calc(var(--single))), -50%);
		}
		100% {
			transform: translate(-100%, -50%);
		}
	}
</style>
{% include arrow.html %}
<noscript>
	<style>
		.--rightward_arrow_wrapper {
			display: none;
		}
	</style>
</noscript>
<!-- end rightward.html -->
