<!-- begin script.html -->
<script>
	if (document.getElementById) {
		window.onload = swap;
	};
	function swap() {
		random_header_graphic_array = new Array(
			{% assign header_graphics = site.static_files | where: "header_graphic", true %}
			{% for header_graphic in header_graphics %}
				"{{ site.baseurl }}{{ header_graphic.path }}"{% if forloop.last %}{% else %}, {% endif %}
			{% endfor %}
		);
		var header_graphic_number = random_header_graphic_array.length;
		x = (Math.floor(Math.random() * header_graphic_number));
		random_header_graphic = (random_header_graphic_array[x]);
		document.getElementById("header_graphic").src = random_header_graphic;
		console.log("Loaded " + random_header_graphic + " from a total number of " + header_graphic_number + " header graphics.");
		document.getElementById("loader_wrapper").remove();
		console.log("Loader removed.");
		document.getElementById("loader_wrapper_style").remove();
		console.log("Loader style removed.");
		{% assign text_colour = page.text_colour | strip_newlines | strip %}
		{% unless text_colour == "#000" or text_colour == "#000000" or text_colour == "black" %}
			var extension = random_header_graphic.split(".").pop();
			if (extension == "svg") {
				SVGInject(document.getElementById("header_graphic"));
				console.log("SVG header injected.");
			} else {
				console.log("No SVG header detected. Injection has not occured.");
			}
		 {% else %}
			console.log("SVG header injection unnecessary.");
		 {% endunless %}
	}
	function lock_scroll() {
		window.scrollTo(0, 0);
		document.body.classList.toggle("--lock_scroll");
		console.log("Body scrolling temporarily locked.");
	}
</script>
<!-- end script.html -->
