
		<!-- begin script.js.html -->
		<script>
			{%- assign header_graphics = site.static_files | where: "header_graphic", true -%}
			{%- assign text_colour = page.colours['text colour'] | strip_newlines | strip %}
			"use strict";
			{%- if page.url == "/" %}
			let home = true;
			{%- else %}
			let home = false;
			{%- endif -%}
			{%- if page.page['has central header'] %}
			let central = true;
			{%- else %}
			let central = false;
			{%- endif -%}
			{%- if page.layout == "contact" %}
			let contact = true;
			{%- else %}
			let contact = false;
			{%- endif -%}
			{%- if page.layout == "list" %}
			let list = true;
			{%- else %}
			let list = false;
			{%- endif -%}
			{%- if page.layout == "cascade" %}
			let cascade = true;
			{%- else %}
			let cascade = false;
			{%- endif -%}
			{%- if text_colour == "#000" or text_colour == "#000000" or text_colour == "black" %}
			let black = true;
			{%- else %}
			let black = false;
			{%- endif %}
			let headers = new Array(
				{%- for header_graphic in header_graphics %}
				"{{- site.baseurl -}}{{- header_graphic.path -}}"{%- unless forloop.last -%}, {%- endunless -%}
				{%- endfor %}
			);
		</script>
		<!-- end script.js.html -->
