
		<!-- begin style.css.html -->
		<style>
			a[href*="//"]:not([href*="{{- site.url -}}{{- site.baseurl -}}"]), a[href*="mailto:"] {
				cursor: alias;
			}
			{%- if page.layout == "cascade" %}
			body {
				overflow: hidden;
			}
			{%- endif -%}
			{%- if site['global message'] %}
			.--global_message {
				--global_message: "— {{ site['global message'] | strip }} — {{ site['global message'] | strip }} — {{ site['global message'] | strip }} — {{ site['global message'] | strip }} — {{ site['global message'] | strip }}"
			}
			{%- endif %}
		</style>
		<!-- end style.css.html -->
