<!-- begin title.html -->
<title>
	{{- site.title -}}
	{%- assign tree = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" | split: "/" -%}
	{%- for branch in tree -%}
		{%- assign segment = page.path | split: branch -%}
		{%- assign current = branch | prepend: segment[0] | append: ".markdown" -%}
		{%- assign deepness = forloop.index -%}
		{%- assign last = forloop.last -%}
		{%- if deepness == 1 and current != "404.markdown" and current != "index.markdown" and tree.size < 2 -%}
			{%- for node in site.pages -%}
				{%- assign deepness_one_current = current | remove_first: "_" -%}
				{%- if node.path == deepness_one_current -%}
					| {{- node.title -}}
					{%- unless last -%} | {%- endunless -%}
				{%- endif -%}
			{%- endfor -%}
		{%- elsif deepness == 1 and current != "404.markdown" and current != "index.markdown" and tree.size >= 2 -%}
			| {%- continue -%}
		{%- elsif deepness == 1 and current == "404.markdown" -%}
			| ?{%- break -%}
		{%- else -%}
			{%- for node in site.documents -%}
				{%- if node.path == current -%}
					{{- node.title -}}
					{%- unless last -%} | {%- endunless -%}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
</title>
<script>
	console.log("[title.html] Title: " + document.title);
</script>
<!-- end title.html -->
