/*
┌───────┐
│ begin └───┐
│ variables │
└───────────┘
*/
:root {
	/*
	┌───────┐
	│ begin └────┐
	│ universals │
	└────────────┘
	*/
	--font_size: 15px;
	--universal_answer: 1rem;
	--universal_answer_multiplier: 2;
	--single: (var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	/*
	┌───────┐
	│ begin └──┐
	│ nav text │
	└──────────┘
	*/
	--nav_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--nav_text_font_size: 1.125rem;
	--nav_text_font_weight: 300;
	/*
	┌───────┐
	│ begin └─────┐
	│ subnav text │
	└─────────────┘
	*/
	--subnav_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--subnav_text_font_size: 0.75rem;
	--subnav_text_font_weight: 300;
	/*
	┌───────┐
	│ begin └──────┐
	│ nav map text │
	└──────────────┘
	*/
	--nav_map_text_font: var(--nav_text_font);
	--nav_map_text_font_size: var(--nav_text_font_size);
	--nav_map_text_font_weight: var(--nav_text_font_weight);
	/*
	┌───────┐
	│ begin └─────┐
	│ footer text │
	└─────────────┘
	*/
	--footer_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--footer_text_font_size: 0.75rem;
	--footer_text_font_weight: 300;
	/*
	┌───────┐
	│ begin └───┐
	│ list text │
	└───────────┘
	*/
	--list_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--list_text_font_size: 1.25rem;
	--list_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └──┐
	│ tag text │
	└──────────┘
	*/
	--tag_text_font: "MD IO", "Code New Roman", monospace;
	--tag_text_font_size: 1rem;
	--tag_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └─────────┐
	│ title card text │
	└─────────────────┘
	*/
	--title_card_text_font: "Le Murmure", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--title_card_text_font_size: 4rem;
	/* --title_card_text_font_size: calc(2vh + 2vw + 2vmin); */
	--title_card_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └──────────┐
	│ footer card text │
	└──────────────────┘
	*/
	--footer_card_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--footer_card_text_font_size: 1.5rem;
	--footer_card_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └────────┐
	│ text card text │
	└────────────────┘
	*/
	--text_card_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--text_card_text_font_size: 1.25rem;
	--text_card_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └─────┐
	│ header text │
	└─────────────┘
	*/
	--header_text_font: "Margo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--header_text_font_size: 4rem;
	--header_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └──────┐
	│ article text │
	└──────────────┘
	*/
	--article_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--article_text_font_size: 1rem;
	--article_text_font_weight: 400;
	/*
	┌───────┐
	│ begin └─┐
	│ presets │
	└─────────┘
	*/
	--double: (var(--single) * 2);
	--quadruple: (var(--single) * 4);
	--half: (var(--single) / 2);
	--quarter: (var(--single) / 4);
	--single_negative: (var(--single) * -1);
	--double_negative: (var(--single) * -2);
	--quadruple_negative: (var(--single) * -4);
	--half_negative: (var(--single) / -2);
	--quarter_negative: (var(--single) / -4);
	/*
	┌───────┐
	│ begin └──┐
	│ elements │
	└──────────┘
	*/
	--screen_height: (var(--vh) * 100);
	--screen_height_half: (var(--screen_height) / 2);
	--screen_width_third: 33.33333333333333333333vw;
	--nav_height: (var(--double) + var(--nav_text_font_size) + var(--double));
	--header_height: (var(--nav_height));
	--header_height_half: (var(--nav_height) / 2);
	--cascade_height_upper: (var(--screen_height) - var(--nav_height) - var(--header_height));
	--cascade_height_central: (var(--screen_height) - var(--header_height));
}

/*
┌───────┐
│ begin └┐
│ resets │
└────────┘
*/
html, body {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	overscroll-behavior-y: none;
}
* {
	margin: 0;
	padding: 0;
	font-size: var(--font_size);
	text-align: left;
	line-height: 100%;
	/* overscroll-behavior: none; */ /* for horizontal scrolling */
}
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-rendering: geometricPrecision;
}
img:not(.header_anchor-header_graphic), svg path {
	pointer-events: none;
}
img, svg, svg path, label, button {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
ol, ul {
	list-style: none;
	list-style-position: inside;
	padding: 0;
}
address {
	font-style: normal;
}
table {
	border-spacing: 0;
}
p + p {
	padding-top: calc(var(--single));
}
p:empty {
	padding: 0 !important;
}

/*
┌───────┐
│ begin └──┐
│ snippets │
└──────────┘
*/
	/*
	┌───────┐
	│ begin └─────┐
	│ text styles │
	└─────────────┘
	*/
		.--nav_text_styling {
			font-family: var(--nav_text_font);
			font-size: var(--nav_text_font_size);
			font-weight: var(--nav_text_font_weight);
			color: var(--text_colour);
			text-align: center;
		}
		.--subnav_text_styling {
			font-family: var(--subnav_text_font);
			font-size: var(--subnav_text_font_size);
			font-weight: var(--subnav_text_font_weight);
			color: var(--text_colour);
			text-align: center;
		}
		.--nav_map_text_styling {
			font-family: var(--nav_map_text_font);
			font-size: var(--nav_map_text_font_size);
			font-weight: var(--nav_map_text_font_weight);
			color: var(--text_colour);
			text-align: center;
		}
		.--footer_text_styling {
			font-family: var(--footer_text_font);
			font-size: var(--footer_text_font_size);
			font-weight: var(--footer_text_font_weight);
			color: var(--text_colour);
			text-align: center;
			line-height: 250%;
			overflow: hidden;
		}
		.--list_text_styling {
			font-family: var(--list_text_font);
			font-size: var(--list_text_font_size);
			font-weight: var(--list_text_font_weight);
			color: var(--text_colour);
			text-align: center;
		}
		.--tag_text_styling {
			font-family: var(--tag_text_font);
			font-size: var(--tag_text_font_size);
			font-weight: var(--tag_text_font_weight);
			color: var(--text_colour);
			text-align: center;
		}
		.--title_card_text_styling {
			font-family: var(--title_card_text_font);
			font-size: var(--title_card_text_font_size);
			font-weight: var(--title_card_text_font_weight);
			color: var(--text_colour);
			/* border: 1px solid var(--border_colour); */
			/* border-radius: 100%; */
			text-align: center;
			hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			word-break: break-word;
			/* line-height: 150%; */
			/* padding: calc(var(--quadruple)); */
			overflow: hidden;
		}
		.--title_card_text_styling::before,
		.--title_card_text_styling::after {
			content: "";
			display: block;
			height: 0;
			width: 0;
		}
		.--title_card_text_styling::before {
			margin-top: 5px;
		}
		.--title_card_text_styling::after {
			margin-bottom: -5px;
		}
		.--footer_card_text_styling {
			font-family: var(--footer_card_text_font);
			font-size: var(--footer_card_text_font_size);
			font-weight: var(--footer_card_text_font_weight);
			color: var(--text_colour);
			text-align: center;
			line-height: 200%;
		}
		.--text_card_text_styling {
			font-family: var(--text_card_text_font);
			font-size: var(--text_card_text_font_size);
			font-weight: var(--text_card_text_font_size);
			color: var(--text_colour);
			text-align: center;
			line-height: 200%;
		}
		/*
		┌───────┐
		│ begin └────┐
		│ title text │
		└────────────┘
		*/
		.--title_text_styling {
			font-family: var(--header_text_font);
			font-size: var(--header_text_font_size);
			font-weight: var(--header_text_font_weight);
			color: var(--text_colour);
			text-align: center;
			hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			word-break: break-word;
			overflow: hidden;
		}
		/*
		┌───────┐
		│ begin └──────┐
		│ article text │
		└──────────────┘
		*/
		.--article_text_styling,
		.--article_text_styling p,
		.--article_text_styling li,
		.--article_text_styling h1,
		.--article_text_styling h2,
		.--article_text_styling h3,
		.--article_text_styling h4,
		.--article_text_styling h5,
		.--article_text_styling h6,
		.--article_text_styling code,
		.--article_text_styling th,
		.--article_text_styling td,
		.--article_text_styling input,
		.--article_text_styling textarea,
		.--article_text_styling button {
			font-family: var(--article_text_font);
			font-size: var(--article_text_font_size);
			font-weight: var(--article_text_font_weight);
			color: var(--text_colour);
			text-align: justify;
			text-align-last: center;
			text-justify: inter-word;
			hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			word-break: break-word;
			line-height: 150%;
			overflow: hidden;
			padding-top: 0;
			padding-bottom: calc(var(--double));
		}
		.--article_text_styling h1,
		.--article_text_styling h2,
		.--article_text_styling h3,
		.--article_text_styling h4,
		.--article_text_styling h5,
		.--article_text_styling h6 {
			font-family: var(--header_text_font);
			font-weight: var(--header_text_font_weight);
			text-align: center;
			line-height: 100%;
		}
		.--article_text_styling h1 {
			font-size: 3rem; /* temp */
		}
		.--article_text_styling h2,
		.--article_text_styling h3,
		.--article_text_styling h4,
		.--article_text_styling h5,
		.--article_text_styling h6 {
			font-size: 2rem; /* temp */
		}
		.--article_text_styling ul,
		.--article_text_styling ol {
			width: 100%;
			margin-bottom: calc(var(--double));
			border: 1px solid var(--border_colour);
			border-radius: calc(var(--single));
		}
		.--article_text_styling li {
			text-align: center;
			padding: calc(var(--single));
		}
		.--article_text_styling ul li {
			border-bottom: 1px dashed var(--border_colour);
		}
		.--article_text_styling ol li {
			border-bottom: 1px solid var(--border_colour);
		}
		.--article_text_styling li:last-child {
			border-bottom: none;
		}
		.--article_text_styling strong {
			font-weight: 700;
		}
		.--article_text_styling em {
			font-style: normal;
		}
		.--article_text_styling blockquote {
			padding: calc(var(--single));
			margin-bottom: calc(var(--double));
			border: 1px solid var(--border_colour);
			border-radius: calc(var(--single));
		}
		.--article_text_styling blockquote p {
			padding-bottom: 0;
		}
		.--article_text_styling code {
			display: block;
			font-family: var(--tag_text_font);
			padding: calc(var(--single));
			border: 1px solid var(--border_colour);
			border-radius: calc(var(--single));
		}
		.--article_text_styling img {
			display: block;
			width: 100%;
		}
		.--article_text_styling table {
			table-layout: fixed;
			width: 100%;
			margin-bottom: calc(var(--double));
			border: 1px solid var(--border_colour);
			border-radius: calc(var(--single));
		}
		.--article_text_styling thead { /* none yet! */ }
		.--article_text_styling tbody { /* none yet! */ }
		.--article_text_styling tr { /* none yet! */ }
		.--article_text_styling th {
			font-weight: 700;
			padding: calc(var(--single));
			border-bottom: 1px solid var(--border_colour);
		}
		.--article_text_styling td {
			padding: calc(var(--single));
		}
		.--article_text_styling tr:not(:last-child) td {
			border-bottom: 1px dashed var(--border_colour);
		}
		.--article_text_styling tr th:not(:first-child),
		.--article_text_styling tr td:not(:first-child) {
			border-left: 1px solid var(--border_colour);
		}
		.--article_text_styling th,
		.--article_text_styling td {
			text-align: center;
		}
		.--no_padding {
			padding-top: 0;
			padding-bottom: 0;
		}
	/*
	┌───────┐
	│ begin └──────────┐
	│ hyperlink styles │
	└──────────────────┘
	*/
	.--anchor_styling {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 0.25s;
	}
	.--hyperlink_styling {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		border: 1px solid var(--text_colour);
		border-radius: 5000px;
		padding: calc(var(--quarter));
		padding-left: calc(var(--half));
		padding-right: calc(var(--half));
	}
	.--current_nav_text_styling > a,
	.--current_nav_map_text_styling > a,
	.--current_subnav_text_styling > a {
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.--text_card_text_styling a,
	.--footer_card_text_styling a,
	.--title_card_text_styling a,
	.--article_text_styling a {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		border: 1px solid var(--text_colour);
		border-radius: 5000px;
		padding: 0;
		padding-left: calc(var(--half));
		padding-right: calc(var(--half));
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 0.25s;
	}
	.--article_text_styling h1 a,
	.--article_text_styling h2 a,
	.--article_text_styling h3 a,
	.--article_text_styling h4 a,
	.--article_text_styling h5 a,
	.--article_text_styling h6 a {
		padding-top: calc(var(--quarter) / 2);
		padding-bottom: calc(var(--quarter) / 2);
	}

/*
┌───────┐
│ begin └─────┐
│ body styles │
└─────────────┘
*/
body {
	background: var(--background);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.bodyalt {
	display: block;
	position: relative;
	height: calc(var(--screen_height));
	width: 100vw;
	overflow: auto;
}
.--lock_scroll {
	overflow: hidden;
}
.--allow_scroll {
	overflow: auto;
}
.--mobile_background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: calc(var(--screen_height));
	width: 100vw;
	background: var(--background);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-size: 100vw calc(var(--screen_height));
	pointer-events: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	z-index: -100;
}

/*
┌───────┐
│ begin └──────────┐
│ container styles │
└──────────────────┘
*/
.mother_container {
	display: flex;
	flex-flow: column nowrap;
	/* height: 100%; */
}
.mother_container-nav_container {
	order: 1;
}
.--central_header .mother_container-nav_container {
	order: 2;
	position: relative;
}
.--homepage .mother_container-nav_container {
	order: 2;
}
.mother_container-header_container {
	order: 2;
	position: sticky;
	top: 0;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.25s;
}
.--central_header .mother_container-header_container {
	order: 1;
	top: -1px;
	margin-top: calc(var(--screen_height_half) - var(--header_height_half) + 1px /* compensate for top: -1px */);
	margin-bottom: calc(var(--screen_height_half) - var(--header_height_half));
}
.mother_container-main_container {
	order: 3;
}
.mother_container-footer_container {
	order: 4;
}
.mother_container-header_container,
.mother_container-nav_container,
.mother_container-footer_container {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/*
┌───────┐
│ begin └────┐
│ nav styles │
└────────────┘
*/
	#nav_map_checkbox {
		display: none;
	}
	.nav_container-nav_list_wrapper {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-evenly;
		border-bottom: 1px solid var(--border_colour);
	}
	.--central_header .nav_container-nav_list_wrapper {
		border-top: 1px solid var(--border_colour);
	}
	.--homepage .nav_container-nav_list_wrapper {
		background-color: var(--secondary_colour);
		box-shadow: 0 0 calc(var(--quadruple)) calc(var(--double)) var(--secondary_colour);
	}
	.nav_list_wrapper-nav_list_item {
		flex: 1; /* todo: stress test this with a higher number of listed pages */
		padding-top: calc(var(--double));
		padding-bottom: calc(var(--double));
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	/*
	┌───────┐
	│ begin └───────┐
	│ subnav styles │
	└───────────────┘
	*/
	.nav_list_wrapper-current_nav_list_item {
		position: relative;
		padding-top: calc(var(--single) + var(--quarter));
		padding-bottom: calc(var(--double) + var(--half) + var(--quarter));
	}
	.current_nav_list_item-subnav_list_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap; /* nowrap for debug */
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		padding-left: calc(var(--single));
		padding-right: calc(var(--single));
		width: 100%;
	}
	.subnav_list_wrapper-subnav_list_item:not(.--subnav_text_separator):not(.--current_subnav_text_styling) {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.subnav_list_wrapper-subnav_list_item {
		padding-bottom: calc(var(--single) + (var(--quarter) / 2));
	}
	.--subnav_text_separator {
		padding-left: calc(var(--quarter));
		padding-right: calc(var(--quarter));
		color: var(--border_colour);
	}
	.--subnav_text_separator::before {
		content: "\2192";
	}
	/*
	┌───────┐
	│ begin └────────┐
	│ nav map styles │
	└────────────────┘
	*/
	.--nav_map_background {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 100%;
		width: 100%;
	}
	.--central_header .--nav_map_background {
		display: block;
		background-color: var(--secondary_colour);
		box-shadow: 0 0 calc(var(--quadruple)) calc(var(--single)) var(--secondary_colour);
	}
	.nav_container-nav_map_wrapper {
		display: none;
	}
	.nav_map_wrapper-nav_map_item {
		display: none;
	}
	.--nav_map_text_separator {
		display: none;
	}

/*
┌───────┐
│ begin └───────┐
│ header styles │
└───────────────┘
*/
.header_container-header_wrapper {
	height: calc(var(--header_height));
	text-align: center;
	padding: calc(var(--single));
}
.--central_header .header_container-header_wrapper {
	padding: 0;
	transition: padding 0.25s;
}
.header_wrapper-header_anchor {
	display: inline-block;
	height: 100%;
	width: auto;
}
.--central_header .header_wrapper-header_anchor {
	display: block;
}
.header_anchor-header_graphic {
	height: 100%;
	width: auto;
	max-width: calc(100vw - var(--single) - var(--single));
	padding-left: calc(var(--single));
	padding-right: calc(var(--single));
}
.header_wrapper-header_anchor img {
	display: block;
	margin: auto;
	object-fit: contain;
}
.header_wrapper-header_anchor svg {
	display: block;
	width: auto; /* debug */
	margin: auto;
	fill: var(--text_colour);
}
.--sticky_header {
	padding-top: calc(var(--single));
	padding-bottom: calc(var(--single));
}

/*
┌───────┐
│ begin └────────┐
│ content styles │
└────────────────┘
*/
	/*
	┌───────┐
	│ begin └─────┐
	│ main styles │
	└─────────────┘
	*/
	.main_container-main_wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.main_wrapper-main_title {
		width: 100%;
		border-top: 1px solid var(--border_colour);
	}
	.--central_header .main_wrapper-main_title {
		border-top: none;
	}
	.main_wrapper-main_title h1 {
		padding: calc(var(--double));
	}
	.--central_header .main_wrapper-main_title h1 {
		padding-top: calc(var(--quadruple));
		padding-bottom: calc(var(--quadruple));
	}
	.main_wrapper-main_article {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: calc(var(--screen_width_third));
		padding-top: 0;
		padding-bottom: 0;
	}
	.--no_title .main_wrapper-main_article.--article_before {
		padding-top: calc(var(--double));
		border-top: 1px solid var(--border_colour);
	}
	.--central_header .--no_title .main_wrapper-main_article.--article_before {
		padding-top: calc(var(--quadruple));
		border-top: none;
	}
	.--article_layout .main_wrapper-main_article.--article_before {
		border-bottom: 1px solid var(--border_colour);
	}
	.main_wrapper-main_article.--article_after {
		padding-top: calc(var(--double));
		border-bottom: 1px solid var(--border_colour);
	}
	.main_wrapper-main_article.--article_extended {
		padding-top: calc(var(--double));
		border-bottom: 1px solid var(--border_colour);
	}
	/*
	┌───────┐
	│ begin └─────────┐
	│ showcase styles │
	└─────────────────┘
	*/
	.main_wrapper-showcase_wrapper {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		font-size: 0;
	}
	.showcase_wrapper-showcase_tile {
		flex: 0 0 calc(var(--screen_width_third));
		height: calc(var(--screen_width_third));
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	.--showcase_tile {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	/* .showcase_wrapper-showcase_tile a {
		display: block;
		height: 100%;
		width: 100%;
	} */
	/*
	┌───────┐
	│ begin └────────┐
	│ contact styles │
	└────────────────┘
	*/
	.main_wrapper-contact_wrapper {
		width: 100%;
		padding: calc(var(--screen_width_third));
		padding-top: calc(var(--double));
		padding-bottom: calc(var(--double));
		border-top: 1px solid var(--border_colour);
		border-bottom: 1px solid var(--border_colour);
	}
	.--central_header .--no_title.--no_content .main_wrapper-contact_wrapper {
		padding-top: calc(var(--quadruple));
		border-top: none;
	}
	.main_wrapper-contact_wrapper fieldset {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		border: none;
	}
	.main_wrapper-contact_wrapper input,
	.main_wrapper-contact_wrapper textarea {
		width: 100%;
		padding: calc(var(--half));
		margin-bottom: calc(var(--single));
		background-color: var(--secondary_colour);
		border: 1px solid var(--border_colour);
		box-shadow: none;
		transition: box-shadow 0.25s;
	}
	.main_wrapper-contact_wrapper input {
		border-radius: 5000px;
		text-align: center;
	}
	.main_wrapper-contact_wrapper textarea {
		min-height: calc(var(--quadruple) * 2);
		border-radius: calc(var(--single));
		resize: none;
		text-align: left;
	}
	.main_wrapper-contact_wrapper input::placeholder,
	.main_wrapper-contact_wrapper textarea::placeholder {
		text-align: center;
		color: grey;
	}
	.main_wrapper-contact_wrapper input:focus,
	.main_wrapper-contact_wrapper textarea:focus {
		box-shadow: 0 0 calc(var(--single)) 0 var(--primary_colour);
		outline: none;
	}
	.main_wrapper-contact_wrapper button {
		margin: auto;
		text-align: center;
		padding: calc(var(--half));
		padding-left: calc(var(--single));
		padding-right: calc(var(--single));
		background-color: var(--secondary_colour);
		border: 1px solid var(--border_colour);
		border-radius: 5000px;
		transition: all 0.25s;
		cursor: pointer;
	}
	.main_wrapper-contact_wrapper button:active {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	/*
	┌───────┐
	│ begin └─────┐
	│ list styles │
	└─────────────┘
	*/
	.main_container-list_wrapper {
		display: flex;
		flex-flow: column nowrap;
	}
	.list_wrapper-list_item:first-child {
		border-top: 1px solid var(--border_colour);
	}
	.list_wrapper-list_item {
		display: inline;
		text-align: center;
		padding: calc(var(--double));
		border-bottom: 1px solid var(--border_colour);
		background-color: transparent;
		transition: background-color 0.25s;
	}
	.list_item-tag_list_wrapper {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		padding-top: calc(var(--single));
		margin-bottom: calc(var(--single_negative));
	}
	.tag_list_wrapper-tag_list_item {
		padding: calc(var(--single));
		margin-left: calc(var(--half));
		margin-right: calc(var(--half));
		margin-bottom: calc(var(--single));
		border: 1px solid var(--border_colour);
		border-radius: 5000px;
		cursor: help;
		background-color: transparent;
		transition: background-color 0.25s, color 0.25s;
	}
	.--highlighted_list_item {
		background-color: var(--secondary_colour);
	}
	.--highlighted_tag {
		position: relative;
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	.--tag_unfilter {
		display: none;
		opacity: 0;
		position: absolute;
		top: calc(var(--half_negative));
		right: calc(var(--single_negative));
		height: calc(var(--single));
		width: calc(var(--single));
		background-color: var(--text_colour);
		border-radius: 50%;
		cursor: pointer;
		transition: opacity 0.25s;
	}
	.--tag_unfilter::after, .--tag_unfilter::before {
		content: "";
		position: absolute;
		height: 2px;
		width: calc(100% - 4px);
		background-color: var(--secondary_colour);
		left: 2px;
		top: calc(50% - 1px);
	}
	.--tag_unfilter::before {
		transform: rotate(45deg);
	}
	.--tag_unfilter::after {
		transform: rotate(-45deg);
	}
	/*
	┌───────┐
	│ begin └────────┐
	│ cascade styles │
	└────────────────┘
	*/
	.main_container_upper-cascade_wrapper,
	.main_container_central-cascade_wrapper {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		overflow-x: auto;
	}
	.main_container_upper-cascade_wrapper {
		height: calc(var(--cascade_height_upper));
	}
	.main_container_central-cascade_wrapper {
		height: calc(var(--cascade_height_central));
		margin-top: calc(var(--nav_height));
	}
	.cascade_wrapper-title_card, .cascade_wrapper-footer_card, .cascade_wrapper-text_card {
		/* flex: 1 0 auto; */
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		/* min-width: calc(var(--cascade_height_upper)); */
		/* max-width: 75vw; */
		padding: calc(var(--double));
		overflow: hidden; /* debug */
	}
	.cascade_wrapper-title_card, .cascade_wrapper-footer_card {
		height: auto;
		width: 100vw;
	}
	.cascade_wrapper-text_card {
		height: 100%;
		/* width: auto; */
		width: 100vw;
	}
	.cascade_wrapper-text_card p {
		min-width: 50vw;
		max-width: 100vw;
	}
	.cascade_wrapper-graphic_card {
		position: relative;
		height: 100%;
	}
	.graphic_card-graphic_card_image {
		display: block;
		height: 100%;
	}
	.cascade_wrapper-anchored_graphic_card_upper,
	.cascade_wrapper-anchored_graphic_card_central {
		position: relative;
		margin: calc(var(--double));
		margin-top: 0;
		border-radius: calc(var(--single));
		box-shadow: none;
		transition: box-shadow 0.25s;
	}
	.cascade_wrapper-anchored_graphic_card_upper {
		height: calc(100% - var(--double));
	}
	.cascade_wrapper-anchored_graphic_card_central {
		height: calc(100% - var(--double));
		margin: calc(var(--double));
		margin-top: 0;
	}
	.cascade_wrapper-anchored_graphic_card_upper .graphic_card-graphic_card_image,
	.cascade_wrapper-anchored_graphic_card_central .graphic_card-graphic_card_image {
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
		padding: calc(var(--double));
	}
	.cascade_wrapper-embed_card_upper,
	.cascade_wrapper-embed_card_central {
		position: relative;
		height: 100%;
		background-color: #000;
	}
	.cascade_wrapper-embed_card_upper {
		width: calc(var(--cascade_height_upper) * 1.78);
	}
	.cascade_wrapper-embed_card_central {
		width: calc(var(--cascade_height_central) * 1.78);
	}
	.cascade_wrapper-embed_card_upper iframe,
	.cascade_wrapper-embed_card_central iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: calc(100% + 1px);
		display: block;
	}
	.--overlay {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
	}
	.cascade_wrapper-empty_card {
		/* flex: 1 0 auto; */
		/* min-width: calc(var(--cascade_height_upper)); */
		/* max-width: 75vw; */
		height: 100%;
		width: 50vw;
	}
	.cascade_wrapper-anchored_graphic_card_upper + .cascade_wrapper-anchored_graphic_card_upper,
	.cascade_wrapper-anchored_graphic_card_central + .cascade_wrapper-anchored_graphic_card_central {
		margin-left: 0;
	}

/*
┌───────┐
│ begin └───────┐
│ footer styles │
└───────────────┘
*/
.footer_container-footer_wrapper {
	padding: calc(var(--double));
}

/*
┌───────┐
│ begin └──────────────────────┐
│ miscellaneous element styles │
└──────────────────────────────┘
*/
	/*
	┌───────┐
	│ begin └┐
	│ arrows │
	└────────┘
	*/
	.--downward_arrow_wrapper {
		display: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		animation: appear 10s, bounce_down 2.5s infinite;
		padding: calc(var(--double));
		transition: opacity 1.25s;
		cursor: s-resize;
	}
	.--downward_arrow {
		border-top: calc(var(--single)) solid var(--text_colour);
		border-left: calc(var(--half)) solid transparent;
		border-right: calc(var(--half)) solid transparent;
		width: 0px;
		height: 0px;
		filter: drop-shadow(0px 0px calc(var(--single)) var(--primary_colour));
	}
	@keyframes appear {
		0% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		90% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes bounce_down {
		0% {
			transform: translate(-50%, 0);
		}
		50% {
			transform: translate(-50%, calc(var(--single_negative)));
		}
		100% {
			transform: translate(-50%, 0);
		}
	}
	/*
	┌───────┐
	│ begin └┐
	│ loader │
	└────────┘
	*/
	.--loader_wrapper {
		width: calc(var(--single) * 5);
		height: calc(var(--half));
		border: 1px solid var(--text_colour);
		background-color: var(--secondary_colour);
		position: absolute;
		top: calc(var(--nav_height) + var(--header_height_half));
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.--central_header .--loader_wrapper {
		top: 50%;
	}
	.--loader {
		width: 87.5%;
		height: 100%;
		background-color: var(--primary_colour);
		animation: load 10s ease-in-out;
	}
	@keyframes load {
		0% {
			width: 0;
		}
		25% {
			width: 12.5%;
		}
		50% {
			width: 25%;
		}
		75% {
			width: 50%;
		}
		87.5% {
			width: 75%;
		}
		100% {
			width: 87.5%;
		}
	}

/*
┌───────┐
│ begin └────────────┐
│ media query: hover │
└────────────────────┘
*/
@media (hover: hover) {
	.--text_card_text_styling a:hover,
	.--footer_card_text_styling a:hover,
	.--title_card_text_styling a:hover,
	.--article_text_styling a:hover  {
		background-color: var(--secondary_colour);
		color: var(--text_colour);
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.--anchor_styling:hover {
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.--hyperlink_styling:hover {
		background-color: var(--secondary_colour);
	}
	.main_wrapper-contact_wrapper button:hover {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	.list_wrapper-list_item:hover {
		background-color: var(--secondary_colour);
	}
	.tag_list_wrapper-tag_list_item:hover {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	.cascade_wrapper-anchored_graphic_card_upper:hover,
	.cascade_wrapper-anchored_graphic_card_central:hover {
		/* background: linear-gradient(0deg, var(--primary_colour) 10%, rgba(255,255,255,0) 100%); */
		box-shadow: inset 0 0 calc(var(--double)) calc(var(--double)) var(--primary_colour);
	}
}

/*
┌───────┐
│ begin └───────────────┐
│ media query: no hover │
└───────────────────────┘
*/
@media (hover: none) {
	body {
		background: var(--primary_colour);
	}
	.--mobile_background {
		display: block;
	}
	.cascade_wrapper-anchored_graphic_card_upper,
	.cascade_wrapper-anchored_graphic_card_central {
		/* background: linear-gradient(0deg, var(--primary_colour) 10%, rgba(255,255,255,0) 100%); */
		box-shadow: inset 0 0 calc(var(--double)) calc(var(--double)) var(--primary_colour);
	}
}

/*
┌───────┐
│ begin └─────────────────────────────┐
│ media query: screen width <= 1024px │
└─────────────────────────────────────┘
*/
@media only screen and (max-width: 1024px) {
	/*
	┌───────┐
	│ begin └──────────┐
	│ container styles │
	└──────────────────┘
	*/
	.mother_container-nav_container {
		order: 2;
		position: relative;
	}
	.mother_container-header_container {
		order: 1;
	}
	/*
	┌───────┐
	│ begin └────┐
	│ nav styles │
	└────────────┘
	*/
		.nav_container-nav_list_wrapper {
			position: relative;
			display: none;
			border-bottom: none;
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_list_wrapper {
			display: flex;
			flex-flow: column nowrap;
			padding: 0;
		}
		.nav_list_wrapper-nav_list_item {
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
			border-bottom: 1px solid var(--border_colour);
		}
		.--current_nav_text_styling {
			display: none;
		}
		/*
		┌───────┐
		│ begin └────────┐
		│ central header │
		└────────────────┘
		*/
		.--central_header #nav_map_checkbox:checked ~ .nav_container-nav_list_wrapper {
			border-top: none;
		}
		/*
		┌───────┐
		│ begin └──┐
		│ homepage │
		└──────────┘
		*/
		.--homepage .nav_container-nav_list_wrapper {
			display: flex;
			flex-flow: column nowrap;
			padding: 0;
			border-top: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
		}
		.--homepage .nav_list_wrapper-nav_list_item {
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
			border-bottom: 1px solid var(--border_colour);
		}
		.--homepage .nav_list_wrapper-nav_list_item:first-child {
			border-top: none;
		}
		.--homepage .nav_list_wrapper-nav_list_item:last-child {
			border-bottom: none;
		}
		/*
		┌───────┐
		│ begin └─┐
		│ nav map │
		└─────────┘
		*/
		#nav_map_checkbox {
			display: none;
		}
		.--nav_map_background {
			display: block;
			transition: all 0.25s;
		}
		#nav_map_checkbox:checked ~ .--nav_map_background {
			top: calc(var(--header_height) * -1);
			height: calc(100% + var(--header_height));
			background-color: var(--secondary_colour);
		}
		.--central_header #nav_map_checkbox:checked ~ .--nav_map_background {
			top: 0;
			height: 100%;
		}
		.nav_container-nav_map_wrapper {
			position: relative;
			display: flex;
			flex-flow: column-reverse nowrap;
			align-items: center;
			justify-content: flex-end;
			height: calc(var(--nav_height));
			border-top: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
			box-shadow: none;
			transition: box-shadow 0.25s;
			cursor: s-resize;
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper {
			height: 100%;
			box-shadow: 0 0 calc(var(--single)) 0 var(--primary_colour);
			cursor: n-resize;
		}
		.nav_container-nav_map_wrapper::before,
		.nav_container-nav_map_wrapper::after {
			content: "";
			position: absolute;
			top: calc(var(--double) + var(--quarter));
			height: calc(var(--half));
			width: calc(var(--half));
			border-right: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
			transform: rotate(45deg);
		}
		.nav_container-nav_map_wrapper::before {
			left: calc(var(--double));
		}
		.nav_container-nav_map_wrapper::after {
			right: calc(var(--double));
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper::before,
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper::after {
			top: calc(var(--double) + var(--half));
			transform: rotate(-135deg);
		}
		.nav_map_wrapper-nav_map_item {
			display: none;
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
		}
		.--current_nav_map_text_styling {
			display: block;
			width: calc(100% - var(--quadruple) - var(--quadruple));
			white-space: nowrap;
			text-overflow: ellipsis;
			line-height: 150%;
			overflow: hidden;
		}
		.--current_nav_map_text_styling::first-line {
			line-height: 100%;
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper .--current_nav_map_text_styling {
			overflow: initial;
			white-space: initial;
			text-overflow: initial;
		}
		.--current_nav_map_text_styling a {
			pointer-events: none;
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper .nav_map_wrapper-nav_map_item {
			display: block;
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper .nav_map_wrapper-nav_map_item:not(.--nav_map_text_separator) {
			padding-top: calc(var(--single));
			padding-bottom: calc(var(--single));
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper .nav_map_wrapper-nav_map_item:last-of-type {
			padding-top: calc(var(--double));
		}
		#nav_map_checkbox:checked ~ .nav_container-nav_map_wrapper .nav_map_wrapper-nav_map_item:first-of-type {
			padding-bottom: calc(var(--double));
		}
		.--nav_map_text_separator {
			height: 1rem;
			width: 1rem;
			padding: 0;
			color: var(--border_colour);
			text-align: center;
		}
		.--nav_map_text_separator::before {
			content: "\2191";
		}

	/*
	┌───────┐
	│ begin └────────┐
	│ content styles │
	└────────────────┘
	*/
		/*
		┌───────┐
		│ begin └─────┐
		│ main styles │
		└─────────────┘
		*/
		.main_wrapper-main_title {
			border-top: none;
		}
		.--upper_header .main_wrapper-main_title {
			border-top: none;
		}
		.main_wrapper-main_article {
			padding-left: calc(var(--double));
			padding-right: calc(var(--double));
		}
		.--no_title .main_wrapper-main_article.--article_before {
			border-top: none;
		}
		/*
		┌───────┐
		│ begin └────────┐
		│ contact styles │
		└────────────────┘
		*/
		.main_wrapper-contact_wrapper {
			padding-left: calc(var(--double));
			padding-right: calc(var(--double));
		}
		.--no_title.--no_content .main_wrapper-contact_wrapper {
			border-top: none;
		}
		.main_wrapper-contact_wrapper input {
			width: calc(50% - var(--half));
		}
		.main_wrapper-contact_wrapper input:first-of-type {
			margin-right: calc(var(--half));
		}
		.main_wrapper-contact_wrapper input:last-of-type {
			margin-left: calc(var(--half));
		}
		/*
		┌───────┐
		│ begin └─────┐
		│ list styles │
		└─────────────┘
		*/
		.list_wrapper-list_item:first-child {
			border-top: none;
		}
		.list_item-tag_list_wrapper {
			padding-top: calc(var(--double));
		}
		/*
		┌───────┐
		│ begin └────────┐
		│ cascade styles │
		└────────────────┘
		*/
		.cascade_wrapper-anchored_graphic_card_central {
			height: calc(100% - var(--double));
			margin: calc(var(--double));
			margin-top: 0;
		}
		.cascade_wrapper-anchored_graphic_card_upper {
			height: calc(100% - var(--quadruple));
			margin: calc(var(--double));
		}

	/*
	┌───────┐
	│ begin └──────────────────────┐
	│ miscellaneous element styles │
	└──────────────────────────────┘
	*/
		/*
		┌───────┐
		│ begin └┐
		│ loader │
		└────────┘
		*/
		.--loader_wrapper {
			top: calc(var(--header_height_half));
		}
		.--central_header .--loader_wrapper {
			top: 50%;
		}
}
/*
┌───────┐
│ begin └────────────────────────────┐
│ media query: screen width <= 512px │
└────────────────────────────────────┘
*/
@media only screen and (max-width: 512px) {
	/*
	┌───────┐
	│ begin └────────┐
	│ content styles │
	└────────────────┘
	*/
		/*
		┌───────┐
		│ begin └────────┐
		│ contact styles │
		└────────────────┘
		*/
		.main_wrapper-contact_wrapper input {
			width: 100%;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
}
