/*
┌─BEGIN─────────────────┐
│			│
│ VARIABLE DECLARATIONS	│
│			│
└─BEGIN─────────────────┘
*/
:root {
	--universal_answer: 1vw;
	--universal_answer_multiplier: 2;
}

/*
┌─BEGIN─────────────────┐
│			│
│ UNIVERSAL RESETS	│
│			│
└─BEGIN─────────────────┘
*/
html, body {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* overscroll-behavior: none; */ /* for horizontal scrolling */
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	font-size: 100%;
	text-align: left;
	line-height: 100%;
}

/*
┌─BEGIN─────────────────┐
│			│
│ TYPOGRAPHY STYLES	│
│			│
└─BEGIN─────────────────┘
*/
.--text_align_center {
	text-align: center;
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTAINER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.mother_container {
	display: flex;
	flex-flow: column nowrap;
}
.mother_container-navigation_container { }
.mother_container-header_container { background-color: red; } /* debug */
.mother_container-content_container { }
.mother_container-footer_container { }

/*
┌─BEGIN─────────────────┐
│			│
│ NAVIGATION STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.navigation_container-navigation_list_wrapper {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	list-style: none;
	list-style-position: inside;
	padding-top: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	border-bottom: 1px solid #000;
}
.navigation_list_wrapper-navigation_list_item {
	flex: 1 1 0;
}

/*
┌─BEGIN─────────────────┐
│			│
│ HEADER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.header_container-header_anchor_wrapper_central { }
.header_container-header_anchor_wrapper_upper {
	background-color: yellow; /* debug */
	height: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2  * 5);
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
}
.header_anchor_wrapper-header_anchor {
	width: auto;
	height: 100%;
	margin: auto;
}
.header_anchor-header_graphic {
	width: auto;
	height: 100%;
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTENT STYLING	│
│			│
└─BEGIN─────────────────┘
*/
/* none yet */

/*
┌─BEGIN─────────────────┐
│			│
│ FOOTER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
/* none yet */
