/*
┌───────┐
│ begin └───┐
│ variables │
└───────────┘
*/
:root {
	/*
	┌───────┐
	│ begin └────┐
	│ universals │
	└────────────┘
	*/
	--font_size: 15px;
	--universal_answer: 1rem;
	--universal_answer_multiplier: 2;
	--single: (var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	/*
	┌───────┐
	│ begin └──┐
	│ nav text │
	└──────────┘
	*/
	--nav_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--nav_text_font_size: 1rem;
	--nav_text_font_weight: 300;
	--subnav_text_font_size: 0.75rem;
	/*
	┌───────┐
	│ begin └───┐
	│ list text │
	└───────────┘
	*/
	--list_title_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--list_title_font_size: 1.25rem;
	--list_title_font_weight: 400;
	--list_tag_font: "Code New Roman", monospace;
	--list_tag_font_size: 1rem;
	--list_tag_font_weight: 400;
	/*
	┌───────┐
	│ begin └──────┐
	│ article text │
	└──────────────┘
	*/
	--article_title_font: "Margo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--article_title_font_size: 4rem;
	--article_title_font_weight: 400;
	--article_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--article_text_font_size: 1rem;
	--article_text_font_weight: 300;
	/*
	┌───────┐
	│ begin └─────┐
	│ footer text │
	└─────────────┘
	*/
	--footer_text_font: "M+ 1p", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--footer_text_font_size: 0.75rem;
	--footer_text_font_weight: 300;
	/*
	┌───────┐
	│ begin └─┐
	│ presets │
	└─────────┘
	*/
	--double: (var(--single) * 2);
	--quadruple: (var(--single) * 4);
	--half: (var(--single) / 2);
	--quarter: (var(--single) / 4);
	--single_negative: (var(--single) * -1);
	--double_negative: (var(--single) * -2);
	--quadruple_negative: (var(--single) * -4);
	--half_negative: (var(--single) / -2);
	--quarter_negative: (var(--single) / -4);
	/*
	┌───────┐
	│ begin └──────┐
	│ measurements │
	└──────────────┘
	*/
	--screen_height: (var(--vh) * 100);
	--screen_height_half: (var(--screen_height) / 2);
	--screen_width_third: 33.33333333333333333333vw;
	--nav_height: (var(--double) + var(--nav_text_font_size) + var(--double));
	--header_height: (var(--nav_height));
	--header_height_half: (var(--nav_height) / 2);
	--cascade_height: (var(--screen_height) - var(--nav_height) - var(--header_height) - 1px);
}
/*
┌───────┐
│ begin └┐
│ resets │
└────────┘
*/
	html, body {
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		overscroll-behavior: none;
	}
	* {
		margin: 0;
		padding: 0;
		font-size: var(--font_size);
		text-align: left;
		line-height: 100%;
		/* overscroll-behavior: none; */ /* for horizontal scrolling */
	}
	html {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
		-moz-box-sizing: inherit;
		-webkit-box-sizing: inherit;
		text-size-adjust: none;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		text-rendering: geometricPrecision;
	}
	img:not(.header_anchor-header_graphic), svg path {
		pointer-events: none;
	}
	img, svg, svg path, label, button {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	ol, ul {
		list-style: none;
		list-style-position: inside;
		padding: 0;
	}
	address {
		font-style: normal;
	}
	table {
		border-spacing: 0;
	}
	p + p {
		padding-top: calc(var(--single));
	}
	p:empty {
		padding: 0 !important;
	}
/*
┌───────┐
│ begin └────┐
│ typography │
└────────────┘
*/
	/*
	┌───────┐
	│ begin └──┐
	│ nav text │
	└──────────┘
	*/
	.--nav_text_styling,
	.--subnav_text_styling,
	.--supernav_text_styling {
		font-family: var(--nav_text_font);
		font-weight: var(--nav_text_font_weight);
		color: var(--text_colour);
		text-align: center;
	}
	.--nav_text_styling,
	.--supernav_text_styling {
		font-size: var(--nav_text_font_size);
	}
	.--subnav_text_styling {
		font-size: var(--subnav_text_font_size);
	}
	/*
	┌───────┐
	│ begin └───┐
	│ list text │
	└───────────┘
	*/
	.--list_title_styling {
		font-family: var(--list_title_font);
		font-size: var(--list_title_font_size);
		font-weight: var(--list_title_font_weight);
		color: var(--text_colour);
		text-align: center;
	}
	.--list_title_styling {
		line-height: 150%;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		word-break: break-word;
		overflow: hidden;
		padding-top: 1px;
	}
	.--list_tag_styling {
		font-family: var(--list_tag_font);
		font-size: var(--list_tag_font_size);
		font-weight: var(--list_tag_font_weight);
		color: var(--text_colour);
		text-align: center;
	}
	/*
	┌───────┐
	│ begin └──────┐
	│ article text │
	└──────────────┘
	*/
	.--article_header_styling {
		font-family: var(--article_title_font);
		font-size: var(--article_title_font_size);
		font-weight: var(--article_title_font_weight);
		color: var(--text_colour);
		text-align: center;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		word-break: break-word;
		overflow: hidden;
	}
	.--article_section_styling,
	.--article_section_styling p,
	.--article_section_styling li,
	.--article_section_styling h1,
	.--article_section_styling h2,
	.--article_section_styling h3,
	.--article_section_styling h4,
	.--article_section_styling h5,
	.--article_section_styling h6,
	.--article_section_styling code,
	.--article_section_styling th,
	.--article_section_styling td,
	.--article_section_styling input,
	.--article_section_styling textarea,
	.--article_section_styling button {
		font-family: var(--article_text_font);
		font-size: var(--article_text_font_size);
		font-weight: var(--article_text_font_weight);
		color: var(--text_colour);
		text-align: justify;
		text-align-last: center;
		text-justify: inter-word;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		word-break: break-word;
		line-height: 150%;
		overflow: hidden;
		padding-top: 1px;
		padding-bottom: calc(var(--double));
	}
	.--article_section_styling h1,
	.--article_section_styling h2,
	.--article_section_styling h3,
	.--article_section_styling h4,
	.--article_section_styling h5,
	.--article_section_styling h6 {
		font-family: var(--article_title_font);
		font-weight: var(--article_title_font_weight);
		text-align: center;
		line-height: 100%;
	}
	.--article_section_styling h1 {
		font-size: 3rem; /* temp */
	}
	.--article_section_styling h2,
	.--article_section_styling h3,
	.--article_section_styling h4,
	.--article_section_styling h5,
	.--article_section_styling h6 {
		font-size: 2rem; /* temp */
	}
	.--article_section_styling ul,
	.--article_section_styling ol {
		width: 100%;
		margin-bottom: calc(var(--double));
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
	}
	.--article_section_styling li {
		text-align: center;
		padding: calc(var(--single));
	}
	.--article_section_styling ul li {
		border-bottom: 1px dashed var(--border_colour);
	}
	.--article_section_styling ol li {
		border-bottom: 1px solid var(--border_colour);
	}
	.--article_section_styling li:last-child {
		border-bottom: none;
	}
	.--article_section_styling strong {
		font-weight: 700;
	}
	.--article_section_styling em {
		font-style: normal;
	}
	.--article_section_styling blockquote {
		padding: calc(var(--single));
		margin-bottom: calc(var(--double));
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
	}
	.--article_section_styling blockquote p {
		padding-bottom: 0;
	}
	.--article_section_styling code {
		display: block;
		font-family: var(--list_tag_font);
		padding: calc(var(--single));
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
	}
	.--article_section_styling img {
		display: block;
		width: 100%;
	}
	.--article_section_styling table {
		table-layout: fixed;
		width: 100%;
		margin-bottom: calc(var(--double));
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
	}
	.--article_section_styling thead { /* none yet! */ }
	.--article_section_styling tbody { /* none yet! */ }
	.--article_section_styling tr { /* none yet! */ }
	.--article_section_styling th {
		font-weight: 700;
		padding: calc(var(--single));
		border-bottom: 1px solid var(--border_colour);
	}
	.--article_section_styling td {
		padding: calc(var(--single));
	}
	.--article_section_styling tr:not(:last-child) td {
		border-bottom: 1px dashed var(--border_colour);
	}
	.--article_section_styling tr th:not(:first-child),
	.--article_section_styling tr td:not(:first-child) {
		border-left: 1px solid var(--border_colour);
	}
	.--article_section_styling th,
	.--article_section_styling td {
		text-align: center;
		/* min-width: calc((100vw - var(--screen_width_third)) / 4); */ /* debug */
	}
	.--article_section_styling iframe {
		width: 100vw;
		height: calc(100vw * 0.5625);
	}
	.--article_section_styling iframe:only-child {
		margin-top: calc(var(--double_negative));
	}
	.--article_section_styling iframe + *:not(iframe) {
		margin-top: calc(var(--double));
	}
	/*
	┌───────┐
	│ begin └─────┐
	│ footer text │
	└─────────────┘
	*/
	.--footer_text_styling {
		font-family: var(--footer_text_font);
		font-size: var(--footer_text_font_size);
		font-weight: var(--footer_text_font_weight);
		color: var(--text_colour);
		text-align: center;
		line-height: 250%;
		overflow: hidden;
	}
	.--no_padding {
		padding-top: 0;
		padding-bottom: 0;
	}
	/*
	┌───────┐
	│ begin └─────┐
	│ anchor text │
	└─────────────┘
	*/
	.--anchor_styling {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 0.25s;
	}
	.--current_nav_item > a,
	.--current_nav_item-x > a,
	.--current_subnav_item > a,
	.--current_supernav_item > a {
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.--article_section_styling a {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		border: 1px solid var(--text_colour);
		border-radius: 9999px;
		padding: 0;
		padding-left: calc(var(--half));
		padding-right: calc(var(--half));
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 0.25s;
	}
	.--article_section_styling h1 a,
	.--article_section_styling h2 a,
	.--article_section_styling h3 a,
	.--article_section_styling h4 a,
	.--article_section_styling h5 a,
	.--article_section_styling h6 a {
		padding-top: calc(var(--quarter) / 2);
		padding-bottom: calc(var(--quarter) / 2);
	}

	.--hyperlink_styling {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		display: inline;
		border: 1px solid var(--text_colour);
		border-radius: 9999px;
		padding: calc(var(--quarter));
		padding-left: calc(var(--half));
		padding-right: calc(var(--half));
	}
	.--median {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
	}
/*
┌───────┐
│ begin └─────┐
│ body styles │
└─────────────┘
*/
	body {
		background: var(--background);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	body.--cascade_layout {
		overflow: hidden;
	}
	.bodyalt {
		display: block;
		position: relative;
		height: calc(var(--screen_height));
		width: 100vw;
		overflow: auto;
	}
	.--mobile_background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: calc(var(--screen_height));
		width: 100vw;
		background: var(--background);
		background-repeat: no-repeat;
		background-attachment: initial;
		background-size: 100vw calc(var(--screen_height));
		pointer-events: none;
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		overflow: hidden;
		z-index: -100;
	}
/*
┌───────┐
│ begin └──────────┐
│ container styles │
└──────────────────┘
*/
	.mother_container {
		display: flex;
		flex-flow: column nowrap;
		min-height: calc(var(--screen_height));
	}
	.mother_container-nav_container {
		order: 1;
	}
	.--central_header .mother_container-nav_container {
		order: 2;
		position: relative;
	}
	.--homepage .mother_container-nav_container {
		order: 2;
	}
	.mother_container-header_container {
		order: 2;
		position: sticky;
		top: 0;
		z-index: 100;
		opacity: 0;
		transition: opacity 0.25s;
	}
	.--central_header .mother_container-header_container {
		order: 1;
		top: -1px;
		margin-top: calc(var(--screen_height_half) - var(--header_height_half) + 1px /* compensate for top: -1px */);
		margin-bottom: calc(var(--screen_height_half) - var(--header_height_half));
	}
	.mother_container-main_container {
		order: 3;
	}
	.mother_container-footer_container {
		order: 4;
	}
	.mother_container-header_container,
	.mother_container-nav_container,
	.mother_container-footer_container {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
/*
┌───────┐
│ begin └────┐
│ nav styles │
└────────────┘
*/
	#supernav_checkbox {
		display: none;
	}
	.nav_container-nav_wrapper {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: center;
		border-bottom: 1px solid var(--border_colour);
	}
	.--central_header .nav_container-nav_wrapper {
		border-top: 1px solid var(--border_colour);
	}
	.--homepage .nav_container-nav_wrapper {
		background-color: var(--secondary_colour);
		box-shadow:
			0 0 calc(var(--double)) calc(var(--single)) var(--secondary_glow_colour),
			0 0 0 0 var(--primary_glow_colour);
	}
	.nav_wrapper-nav_item {
		flex: 1;
		padding-top: calc(var(--double));
		padding-bottom: calc(var(--double));
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.--current_nav_item {
		position: relative;
		padding-top: calc(var(--single) + var(--quarter));
		padding-bottom: calc(var(--double) + var(--half) + var(--quarter));
	}
	.nav_item-subnav_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap; /* nowrap for debug */
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		padding-left: calc(var(--single));
		padding-right: calc(var(--single));
		width: 100%;
	}
	.subnav_wrapper-subnav_item:not(.--subnav_separator) {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.subnav_wrapper-subnav_item {
		padding-bottom: calc(var(--single) + (var(--quarter) / 2));
	}
	.--subnav_separator {
		padding-left: calc(var(--quarter));
		padding-right: calc(var(--quarter));
		color: var(--border_colour);
	}
	.--subnav_separator::before {
		content: "\2192";
	}
	.--nav_background {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 100%;
		width: 100%;
	}
	.--central_header .--nav_background {
		display: block;
		background-color: var(--secondary_colour);
		box-shadow:
			0 0 calc(var(--double)) calc(var(--single)) var(--secondary_glow_colour),
			0 0 0 0 var(--primary_glow_colour);
	}
	.nav_container-supernav_wrapper {
		display: none;
	}
	.supernav_wrapper-supernav_item {
		display: none;
	}
	.--supernav_separator {
		display: none;
	}
/*
┌───────┐
│ begin └───────┐
│ header styles │
└───────────────┘
*/
	.header_container-header_wrapper {
		height: calc(var(--header_height));
		text-align: center;
		padding: calc(var(--single));
	}
	.--central_header .header_container-header_wrapper {
		padding: 0;
		transition: padding 0.25s;
	}
	.header_wrapper-header_anchor {
		display: inline-block;
		height: 100%;
		width: auto;
	}
	.--central_header .header_wrapper-header_anchor {
		display: block;
	}
	.header_anchor-header_graphic {
		height: 100%;
		width: auto;
		max-width: calc(100vw - var(--single) - var(--single));
		padding-left: calc(var(--single));
		padding-right: calc(var(--single));
	}
	.header_wrapper-header_anchor img {
		display: block;
		margin: auto;
		object-fit: contain;
	}
	.header_wrapper-header_anchor svg {
		display: block;
		width: auto; /* debug */
		margin: auto;
		fill: var(--text_colour);
	}
	.--sticky_header {
		padding-top: calc(var(--single)) !important;
		padding-bottom: calc(var(--single)) !important;
	}
	.--global_message {
		position: absolute;
		left: 0;
		width: 100%;
		font-family: "M+ 1p";
		font-weight: 300;
		color: var(--text_colour);
		text-transform: uppercase;
		font-size: 1rem;
		pointer-events: none;
	}
	.--global_message:first-of-type {
		top: 0;
	}
	.--global_message:last-of-type {
		bottom: 0;
	}
	.--global_message::after {
		content: var(--global_message);
	}
/*
┌───────┐
│ begin └────────┐
│ content styles │
└────────────────┘
*/
	/*
	┌───────┐
	│ begin └─────┐
	│ main styles │
	└─────────────┘
	*/
	.main_container-article_wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		border-top: 1px solid var(--border_colour);
		border-bottom: 1px solid var(--border_colour);
	}
	.--central_header .main_container-article_wrapper {
		border-top: none;
	}
	.mother_container-main_container:last-child .main_container-article_wrapper {
		border-bottom: none;
	}
	.article_wrapper-article_header {
		width: 100%;
	}
	.article_wrapper-article_header h1 {
		padding: calc(var(--double));
	}
	.article_wrapper-article_section {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: calc(var(--screen_width_third));
		padding-top: calc(var(--double));
		padding-bottom: 0;
	}
	.--section_header {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.article_wrapper-article_header + .article_wrapper-article_section,
	.article_wrapper-article_section + .article_wrapper-article_section,
	.article_wrapper-article_section + .main_wrapper-special_content,
	.main_wrapper-special_content + .article_wrapper-article_section,
	.article_wrapper-article_header + .main_wrapper-special_content {
		border-top: 1px dashed var(--border_colour);
	}
	/*
	┌───────┐
	│ begin └────────┐
	│ contact styles │
	└────────────────┘
	*/
	.main_wrapper-contact_wrapper {
		width: 100%;
		padding: calc(var(--screen_width_third));
		padding-top: calc(var(--double));
		padding-bottom: calc(var(--double));
	}
	.main_wrapper-contact_wrapper fieldset {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		border: none;
	}
	.main_wrapper-contact_wrapper input,
	.main_wrapper-contact_wrapper textarea {
		width: 100%;
		padding: calc(var(--half));
		margin-bottom: calc(var(--single));
		text-align: center;
		background-color: var(--secondary_colour);
		border: 1px solid var(--border_colour);
		box-shadow: none;
		transition: box-shadow 0.25s;
	}
	.main_wrapper-contact_wrapper input {
		border-radius: 9999px;
	}
	.main_wrapper-contact_wrapper textarea {
		min-height: calc(var(--quadruple) * 2);
		border-radius: calc(var(--single));
		resize: none;
	}
	.main_wrapper-contact_wrapper input::placeholder,
	.main_wrapper-contact_wrapper textarea::placeholder {
		text-align: center;
		color: var(--placeholder_colour);
	}
	.main_wrapper-contact_wrapper input:focus,
	.main_wrapper-contact_wrapper textarea:focus,
	.main_wrapper-contact_wrapper input:active,
	.main_wrapper-contact_wrapper textarea:active {
		box-shadow: 0 0 calc(var(--single)) 0 var(--primary_glow_colour);
		outline: none;
	}
	.main_wrapper-contact_wrapper button {
		margin: auto;
		text-align: center;
		padding: calc(var(--half));
		padding-left: calc(var(--single));
		padding-right: calc(var(--single));
		background-color: var(--secondary_colour);
		border: 1px solid var(--border_colour);
		border-radius: 9999px;
		transition: background-color 0.25s, color 0.25s;
		cursor: pointer;
	}
	.main_wrapper-contact_wrapper button:active {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	/*
	┌───────┐
	│ begin └─────┐
	│ list styles │
	└─────────────┘
	*/
	.main_wrapper-list_wrapper {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
	}
	.list_wrapper-list_item {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		padding: calc(var(--screen_width_third));
		padding-top: calc(var(--double));
		padding-bottom: calc(var(--single));
		transition: background-color 0.25s;
	}
	.list_wrapper-list_item ~ .list_wrapper-list_item {
		border-top: 1px dashed var(--border_colour);
	}
	.list_item-item_title {
		width: 100%;
		padding-bottom: calc(var(--single));
	}
	.list_item-item_tag {
		margin-bottom: calc(var(--single));
		margin-left: calc(var(--half));
		margin-right: calc(var(--half));
		padding: calc(var(--single));
		border: 1px solid var(--border_colour);
		border-radius: 9999px;
		cursor: help;
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
	}
	.--highlighted_list_item {
		background-color: var(--secondary_colour);
	}
	.--highlighted_tag {
		position: relative;
		background-color: var(--text_colour);
		color: var(--secondary_colour);
		box-shadow: 0 0 calc(var(--single)) 0 var(--primary_glow_colour);
	}
	.--untag {
		display: none;
		position: absolute;
		top: calc(var(--half_negative));
		right: calc(var(--single_negative));
		height: calc(var(--single));
		width: calc(var(--single));
		background-color: var(--text_colour);
		border-radius: 50%;
		cursor: pointer;
		transition: opacity 0.25s;
	}
	.--untag::before,
	.--untag::after {
		content: "";
		position: absolute;
		height: 2px;
		width: calc(100% - 4px);
		background-color: var(--secondary_colour);
		left: 2px;
		top: calc(50% - 1px);
	}
	.--untag::before {
		transform: rotate(45deg);
	}
	.--untag::after {
		transform: rotate(-45deg);
	}
	.--untag_click {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 175%;
		width: 175%;
	}
	.--no_tag {
		display: none;
	}
	.--match_above,
	.--match_below {
		position: sticky;
		display: none;
		height: calc(var(--double) + var(--single));
		width: calc(100% - var(--screen_width_third) * 2);
		margin-left: auto;
		margin-right: auto;
		background: var(--text_colour);
		border: 1px solid var(--border_colour);
		border-radius: 9999px;
		z-index: 50;
		opacity: 0;
		box-shadow: none;
		transition: opacity 0.25s, box-shadow 0.25s;
	}
	.--match_above {
		top: calc(var(--header_height));
		margin-bottom: calc(var(--double_negative) + var(--single_negative));
		cursor: n-resize;
	}
	.--match_below {
		bottom: calc(var(--double));
		margin-top: calc(var(--double_negative) + var(--single_negative));
		cursor: s-resize;
	}
	.--match_above::before,
	.--match_below::before {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: var(--secondary_colour);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.--match_above::before {
		content: "More matches above";
	}
	.--match_below::before {
		content: "More matches below";
	}
	.--active_match {
		opacity: 1;
		box-shadow: 0 0 calc(var(--single)) 0 var(--primary_glow_colour);
	}
	/*
	┌───────┐
	│ begin └─────────┐
	│ showcase styles │
	└─────────────────┘
	*/
	.main_wrapper-showcase_wrapper {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		width: 100%;
		font-size: 0;
	}
	.showcase_wrapper-showcase_tile {
		flex: 0 0 calc(var(--screen_width_third));
		height: calc(var(--screen_width_third));
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		font-size: 0;
	}
	.--showcase_tile {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	/* .showcase_wrapper-showcase_tile a {
		display: block;
		height: 100%;
		width: 100%;
	} */
	/*
	┌───────┐
	│ begin └────────┐
	│ cascade styles │
	└────────────────┘
	*/
	.--cascade_layout .main_container-article_wrapper {
		flex-wrap: wrap;
		height: calc(var(--cascade_height));
		border-bottom: none;
		overflow: auto;
	}
	.--central_header.--cascade_layout .main_container-article_wrapper {
		--cascade_height: (var(--screen_height) - var(--header_height));
		margin-top: calc(var(--nav_height));
		border-top: 1px solid var(--border_colour);
	}
	.--cascade_layout .article_wrapper-article_header,
	.--cascade_layout .article_wrapper-article_footer {
		width: 100%;
	}
	.--cascade_layout .article_wrapper-article_section {
		width: auto;
		height: 100%;
		max-height: calc(var(--cascade_height) - var(--quadruple));
		padding: calc(var(--double));
		margin-left: calc(var(--double));
		margin-right: calc(var(--double));
		border: 1px solid var(--border_colour);
		border-radius: calc(var(--single));
	}
	.--cascade_layout .article_wrapper-article_section + .article_wrapper-article_section {
		margin-left: 0;
	}
	.article_wrapper-article_section.--image + .article_wrapper-article_section {
		margin-left: calc(var(--double));
	}
	.--cascade_layout .article_wrapper-article_section.--image {
		margin: 0;
		padding: 0;
		border: none;
	}
	.--cascade_layout .article_wrapper-article_section.--anchored_image {

	}
	.--cascade_layout .article_wrapper-article_section picture {
		height: 100%;
		width: auto;
	}
	.--cascade_layout .article_wrapper-article_section img {
		display: block;
		height: 100%;
		width: auto;
	}
	.--cascade_layout .article_wrapper-article_section iframe {
		height: calc(var(--cascade_height) - var(--quadruple) + 1px);
		width: calc((var(--cascade_height) - var(--quadruple) + 1px) * 1.77);
		margin: calc(var(--double_negative));
		background: #000;
		border-radius: calc(var(--single));
	}
	/*
	┌───────┐
	│ begin └───────┐
	│ footer styles │
	└───────────────┘
	*/
	.footer_container-footer_wrapper {
		padding: calc(var(--double));
	}
/*
┌───────┐
│ begin └──────────────────────┐
│ miscellaneous element styles │
└──────────────────────────────┘
*/
	/*
	┌───────┐
	│ begin └┐
	│ arrows │
	└────────┘
	*/
	.--downward_arrow_wrapper {
		display: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		animation: appear 10s, bounce_down 2.5s infinite;
		padding: calc(var(--double));
		transition: opacity 1.25s;
		cursor: s-resize;
	}
	.--downward_arrow {
		border-top: calc(var(--single)) solid var(--text_colour);
		border-left: calc(var(--half)) solid transparent;
		border-right: calc(var(--half)) solid transparent;
		width: 0px;
		height: 0px;
		filter: drop-shadow(0px 0px calc(var(--single)) var(--primary_colour));
	}
	@keyframes appear {
		0% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		90% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes bounce_down {
		0% {
			transform: translate(-50%, 0);
		}
		50% {
			transform: translate(-50%, calc(var(--single_negative)));
		}
		100% {
			transform: translate(-50%, 0);
		}
	}
	/*
	┌───────┐
	│ begin └┐
	│ loader │
	└────────┘
	*/
	.--loader_wrapper {
		width: calc(var(--single) * 5);
		height: calc(var(--half));
		border: 1px solid var(--text_colour);
		background-color: var(--secondary_colour);
		position: absolute;
		top: calc(var(--nav_height) + var(--header_height_half));
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.--central_header .--loader_wrapper {
		top: 50%;
	}
	.--loader {
		width: 87.5%;
		height: 100%;
		background-color: var(--primary_glow_colour);
		animation: load 10s ease-in-out;
	}
	@keyframes load {
		0% {
			width: 0;
		}
		25% {
			width: 12.5%;
		}
		50% {
			width: 25%;
		}
		75% {
			width: 50%;
		}
		87.5% {
			width: 75%;
		}
		100% {
			width: 87.5%;
		}
	}
/*
┌───────┐
│ begin └────────────┐
│ media query: hover │
└────────────────────┘
*/
@media (hover: hover) {
	.--article_section_styling a:hover  {
		background-color: var(--secondary_colour);
		color: var(--text_colour);
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.--anchor_styling:hover {
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}
	.main_wrapper-contact_wrapper button:hover {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	.list_item-item_tag:hover {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}


	.--hyperlink_styling:hover {
		background-color: var(--secondary_colour);
	}
}

/*
┌───────┐
│ begin └───────────────┐
│ media query: no hover │
└───────────────────────┘
*/
@media (hover: none) {
	body {
		background: var(--primary_colour);
	}
	.--mobile_background {
		display: block;
	}
}

/*
┌───────┐
│ begin └─────────────────────────────┐
│ media query: screen width <= 1024px │
└─────────────────────────────────────┘
*/
@media only screen and (max-width: 1024px) {
	/*
	┌───────┐
	│ begin └──────────┐
	│ container styles │
	└──────────────────┘
	*/
		.mother_container-nav_container {
			order: 2;
			position: relative;
		}
		.mother_container-header_container {
			order: 1;
		}
	/*
	┌───────┐
	│ begin └────┐
	│ nav styles │
	└────────────┘
	*/
		.nav_container-nav_wrapper {
			position: relative;
			display: none;
			border-bottom: none;
		}
		#supernav_checkbox:checked ~ .nav_container-nav_wrapper {
			display: flex;
			flex-flow: column nowrap;
			padding: 0;
		}
		.nav_wrapper-nav_item {
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
			border-bottom: 1px solid var(--border_colour);
		}
		.--current_nav_item,
		.--current_nav_item-x {
			display: none;
		}
		.--central_header #supernav_checkbox:checked ~ .nav_container-nav_wrapper {
			border-top: none;
		}
		.--homepage .nav_container-nav_wrapper {
			display: flex;
			flex-flow: column nowrap;
			padding: 0;
			border-top: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
		}
		.--homepage .nav_wrapper-nav_item {
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
			border-bottom: 1px solid var(--border_colour);
		}
		.--homepage .nav_wrapper-nav_item:first-child {
			border-top: none;
		}
		.--homepage .nav_wrapper-nav_item:last-child {
			border-bottom: none;
		}
		#supernav_checkbox {
			display: none;
		}
		.--nav_background {
			display: block;
			transition: background-color 0.25s, box-shadow 0.25s;
		}
		#supernav_checkbox:checked ~ .--nav_background {
			background-color: var(--secondary_colour);
			box-shadow: 0 0 calc(var(--single)) 0 var(--primary_glow_colour);
		}
		.--central_header #supernav_checkbox:checked ~ .--nav_background {
			background-color: var(--secondary_colour);
			box-shadow:
				0 0 calc(var(--double)) calc(var(--single)) var(--secondary_glow_colour),
				0 0 calc(var(--single)) 0 var(--primary_glow_colour);
		}
		.nav_container-supernav_wrapper {
			position: relative;
			display: flex;
			flex-flow: column-reverse nowrap;
			align-items: center;
			justify-content: flex-end;
			height: calc(var(--nav_height));
			border-top: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
			box-shadow: none;
			transition: box-shadow 0.25s;
			cursor: s-resize;
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper {
			height: 100%;
			box-shadow: 0 calc(var(--quarter) / 2) calc(var(--single) - var(--quarter)) 0 var(--primary_glow_colour);
			cursor: n-resize;
		}
		.nav_container-supernav_wrapper::before,
		.nav_container-supernav_wrapper::after {
			content: "";
			position: absolute;
			top: calc(var(--double) + var(--quarter));
			height: calc(var(--half));
			width: calc(var(--half));
			border-right: 1px solid var(--border_colour);
			border-bottom: 1px solid var(--border_colour);
			transform: rotate(45deg);
		}
		.nav_container-supernav_wrapper::before {
			left: calc(var(--double));
		}
		.nav_container-supernav_wrapper::after {
			right: calc(var(--double));
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper::before,
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper::after {
			top: calc(var(--double) + var(--half));
			transform: rotate(-135deg);
		}
		.supernav_wrapper-supernav_item {
			display: none;
			width: 100%;
			padding-top: calc(var(--double));
			padding-bottom: calc(var(--double));
		}
		.--current_supernav_item {
			display: block;
			width: calc(100% - var(--quadruple) - var(--quadruple));
			white-space: nowrap;
			text-overflow: ellipsis;
			line-height: 150%;
			overflow: hidden;
		}
		.--current_supernav_item::first-line {
			line-height: 100%;
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper .--current_supernav_item {
			overflow: initial;
			white-space: initial;
			text-overflow: initial;
		}
		.--current_supernav_item a {
			pointer-events: none;
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper .supernav_wrapper-supernav_item {
			display: block;
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper .supernav_wrapper-supernav_item:not(.--supernav_separator) {
			padding-top: calc(var(--single));
			padding-bottom: calc(var(--single));
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper .supernav_wrapper-supernav_item:last-of-type {
			padding-top: calc(var(--double));
		}
		#supernav_checkbox:checked ~ .nav_container-supernav_wrapper .supernav_wrapper-supernav_item:first-of-type {
			padding-bottom: calc(var(--double));
		}
		.--supernav_separator {
			height: 1rem;
			width: 1rem;
			padding: 0;
			color: var(--border_colour);
			text-align: center;
		}
		.--supernav_separator::before {
			content: "\2191";
		}

	/*
	┌───────┐
	│ begin └────────┐
	│ content styles │
	└────────────────┘
	*/
		/*
		┌───────┐
		│ begin └─────┐
		│ main styles │
		└─────────────┘
		*/
		.main_container-article_wrapper {
			border-top: none;
		}
		.article_wrapper-article_section {
			padding-left: calc(var(--double));
			padding-right: calc(var(--double));
		}
		.--article_section_styling th,
		.--article_section_styling td {
			/* min-width: calc((100vw - var(--double) - var(--double)) / 2); */ /* debug */
		}
		/*
		┌───────┐
		│ begin └────────┐
		│ contact styles │
		└────────────────┘
		*/
		.main_wrapper-contact_wrapper {
			padding-left: calc(var(--double));
			padding-right: calc(var(--double));
		}
		.main_wrapper-contact_wrapper input {
			width: calc(50% - var(--half));
		}
		.main_wrapper-contact_wrapper input:first-of-type {
			margin-right: calc(var(--half));
		}
		.main_wrapper-contact_wrapper input:last-of-type {
			margin-left: calc(var(--half));
		}
		/*
		┌───────┐
		│ begin └─────┐
		│ list styles │
		└─────────────┘
		*/
		.list_wrapper-list_item {
			padding-left: calc(var(--double));
			padding-right: calc(var(--double));
		}
		.--match_above,
		.--match_below {
			width: calc(100% - var(--quadruple));
		}
	/*
	┌───────┐
	│ begin └──────────────────────┐
	│ miscellaneous element styles │
	└──────────────────────────────┘
	*/
		/*
		┌───────┐
		│ begin └┐
		│ loader │
		└────────┘
		*/
		.--loader_wrapper {
			top: calc(var(--header_height_half));
		}
		.--central_header .--loader_wrapper {
			top: 50%;
		}
}
/*
┌───────┐
│ begin └────────────────────────────┐
│ media query: screen width <= 512px │
└────────────────────────────────────┘
*/
@media only screen and (max-width: 512px) {
	.main_wrapper-contact_wrapper input {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
/*
┌───────┐
│ begin └─────────────────────────────┐
│ media query: screen height <= 512px │
└─────────────────────────────────────┘
*/
@media only screen and (max-height: 512px) {
	.--match_above,
	.--match_below,
	.--active_match {
		display: none !important;
	}
}
