/*
┌─BEGIN─────────────────────────┐
│				│
│ @FONT-FACE DECLARATIONS	│
│				│
└─BEGIN─────────────────────────┘
*/
@font-face {
    font-family: "Code New Roman";
    src: url("/assets/fonts/code_new_roman/code_new_roman-regular.eot");
    src: url("/assets/fonts/code_new_roman/code_new_roman-regular.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/code_new_roman/code_new_roman-regular.woff2") format("woff2"),
         url("/assets/fonts/code_new_roman/code_new_roman-regular.woff") format("woff"),
         url("/assets/fonts/code_new_roman/code_new_roman-regular.ttf") format("truetype"),
         url("/assets/fonts/code_new_roman/code_new_roman-regular.svg#code_new_romanregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*
┌─BEGIN─────────────────┐
│			│
│ VARIABLE DECLARATIONS	│
│			│
└─BEGIN─────────────────┘
*/
:root {
	--font_size: 1em;
	--universal_answer: 1em;
	--universal_answer_multiplier: 2;
	/* --primary_colour: #91a3b0; */ /* see ./_config.yml and ./_layouts/default.html */
	/* --secondary_colour: #fff; */ /* see ./_config.yml and ./_layouts/default.html */
	/* --secondary_colour: #eceff1; */ /* old */
	/* --border_colour: #000; */ /* see ./_config.yml and ./_layouts/default.html */
	/* --text_colour: #000; */ /* see ./_config.yml and ./_layouts/default.html */
	--navigation_text_font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--navigation_text_font_size: 1.25em;
	--footer_text_font: "Code New Roman", monospace;
	--footer_text_font_size: 1em;
	--list_text_font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--list_text_font_size: 1.5em;
	--tag_text_font: "Code New Roman", monospace;
	--tag_text_font_size: 1em;
}

/*
┌─BEGIN─────────────────┐
│			│
│ UNIVERSAL RESETS	│
│			│
└─BEGIN─────────────────┘
*/
html, body {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* overscroll-behavior: none; */ /* for horizontal scrolling */ /* not sure if working -- for later */
}
* {
	margin: 0;
	padding: 0;
	font-size: var(--font_size);
	text-align: left;
	line-height: 100%;
	/* overscroll-behavior: none; */ /* for horizontal scrolling */ /* not sure if working -- for later */
}
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-rendering: geometricPrecision;
}

/*
┌─BEGIN─────────────────┐
│			│
│ STYLING SNIPPETS	│
│			│
└─BEGIN─────────────────┘
*/
	/*
	┌─BEGIN─────────┐
	│		│
	│ TEXT STYLING	│
	│		│
	└─BEGIN─────────┘
	*/
	.--navigation_text_styling {
		color: var(--text_colour);
		font-family: var(--navigation_text_font);
		font-weight: 200;
		text-align: center;
		font-size: var(--navigation_text_font_size);
	}
	.--footer_text_styling {
		color: var(--text_colour);
		font-family: var(--footer_text_font);
		font-weight: normal;
		text-align: center;
		font-size: var(--footer_text_font_size);
		padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.--list_text_styling {
		color: var(--text_colour);
		font-family: var(--list_text_font);
		font-weight: 200;
		text-align: center;
		font-size: var(--list_text_font_size);
	}
	.--tag_text_styling {
		color: var(--text_colour);
		font-family: var(--tag_text_font);
		font-weight: normal;
		text-align: center;
		font-size: var(--tag_text_font_size);
	}
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ ANCHOR STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.--anchor_styling {
		color: var(--text_colour);
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 0.25s;
	}
	.--anchor_styling:hover {
		/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
		background-size: 100% 2px;
	}

/*
┌─BEGIN─────────┐
│		│
│ BODY STYLING	│
│		│
└─BEGIN─────────┘
*/
body {
	background: linear-gradient(0deg, var(--primary_colour) 10%, var(--secondary_colour) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTAINER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.mother_container {
	display: flex;
	flex-flow: column nowrap;
}
.--mother_container_fullscreen {
	height: 100vh;
}
.--mother_container_fullscreen > .mother_container-content_container {
	flex: 1;
}
.mother_container-navigation_container { /* no styling rules */ }
.mother_container-header_container_central {
	position: sticky;
	top: 0;
	height:
		calc(	100vh /* screen height */
			- (var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
			+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
			+ var(--navigation_text_font_size)) /* navigation text line height */
		);
}
.mother_container-header_container_upper {
	position: sticky;
	top: 0;
}
.mother_container-content_container { /* no styling rules */ }
.mother_container-footer_container { /* no styling rules */ }

/*
┌─BEGIN─────────────────┐
│			│
│ NAVIGATION STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.navigation_container-navigation_list_wrapper {
	display: flex;
	flex-flow: row nowrap; /* nowrap for debug */
	padding: 0;
	list-style: none;
	list-style-position: inside;
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	border-bottom: 1px solid var(--border_colour);
	justify-content: space-evenly;
	align-items: center;
}
.navigation_list_wrapper-navigation_list_item {
	flex: 1; /* stress test this with a higher number of listed pages */
	white-space: nowrap; /* debug */
}
.--active_navigation_text_styling a {
	/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
	background-size: 100% 2px;
}

/*
┌─BEGIN─────────────────┐
│			│
│ HEADER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.header_container-header_wrapper_central {
}
.header_container-header_wrapper_upper {
	/* maybe make it so that .header_anchor-header_graphic's visibility is hidden and set the graphic as a CSS background-image? */
	height:
		calc(	0px /* initial value for debug */
			+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
			+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
			+ var(--navigation_text_font_size) /* navigation text line height */
		);
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	text-align: center;
}
.header_wrapper-header_anchor {
	width: auto;
	height: 100%;
}
.header_anchor-header_graphic {
	width: auto;
	height: 100%;
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTENT STYLING	│
│			│
└─BEGIN─────────────────┘
*/
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ PAGE HEADER STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-page_header {
		padding-top: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	}
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ SHOWCASE STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-showcase_wrapper {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		font-size: 0;
	}
	.showcase_wrapper-showcase_tile {
		flex: 0 0 33.33333333333333333333vw;
		height: 33.33333333333333333333vw;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ LIST PAGE STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-list_page_wrapper {
		display: flex;
		flex-flow: column nowrap;
		padding: 0;
		list-style: none;
		list-style-position: inside;
	}
	.list_page_wrapper-list_page_item:first-child {
		border-top: 1px solid var(--border_colour);
	}
	.list_page_wrapper-list_page_item {
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
		border-bottom: 1px solid var(--border_colour);
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
	.list_page_item-list_page_item_tag_list {
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		list-style: none;
		list-style-position: inside;
		padding-top: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		justify-content: center;
		align-items: center;
		margin-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2 * -1);
	}
	.list_page_item_tag_list-list_page_item_tag {
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		border: 1px solid var(--border_colour);
		border-radius: 500px;
		margin-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.list_page_item_tag_list-list_page_item_tag:not(:first-child) {
		margin-right: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.list_page_item_tag_list-list_page_item_tag:nth-child(2) {
		margin-left: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.list_page_item_tag_list-list_page_item_tag:last-child {
		margin-right: 0;
	}
	.list_page_item_tag_list-list_page_item_tag:hover {
		background-color: var(--text_colour);
		color: var(--secondary_colour);
	}
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ CASCADE STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-cascade_wrapper {
		display: flex;
		flex-flow: row nowrap;
		height:
			calc(	100vh /* screen height */
				- ((var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
				+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
				+ var(--navigation_text_font_size)) /* navigation text line height */
				* 2) /* header height */
				- 1px /* idk why but there's an extra pixel */
			);
		overflow-y: scroll;
	}
	.cascade_wrapper-title_card { }
	.cascade_wrapper-text_card {
		flex: 1 0 auto;
		min-width:
			calc(	100vh /* screen height */
				- ((var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
				+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
				+ var(--navigation_text_font_size)) /* navigation text line height */
				* 2) /* header height */
				- 1px /* idk why but there's an extra pixel */
			);
		max-width: 50vw;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	}
	.cascade_wrapper-anchored_text_card {
		flex: 1 0 auto;
		min-width:
			calc(	100vh /* screen height */
				- ((var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
				+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
				+ var(--navigation_text_font_size)) /* navigation text line height */
				* 2) /* header height */
				- 1px /* idk why but there's an extra pixel */
			);
		max-width: 50vw;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--border_colour);
		margin: calc(var(--universal_answer) * var(--universal_answer_multiplier));
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
		margin-top: 0;
	}
	.cascade_wrapper-graphic_card {
		position: relative;
		height: 100%;
	}
	.cascade_wrapper-anchored_graphic_card {
		position: relative;
		height: calc(100% - (var(--universal_answer) * var(--universal_answer_multiplier)));
		margin: calc(var(--universal_answer) * var(--universal_answer_multiplier));
		margin-top: 0;
	}
	.cascade_wrapper-anchored_graphic_card + .cascade_wrapper-anchored_graphic_card {
		margin-left: 0;
	}
	.cascade_wrapper-anchored_graphic_card:hover {
		background: linear-gradient(0deg, var(--primary_colour) 10%, rgba(255,255,255,0) 100%);
		box-shadow: inset 0 0 calc(var(--universal_answer) * var(--universal_answer_multiplier)) calc(var(--universal_answer) * var(--universal_answer_multiplier)) var(--primary_colour);
	}
	.cascade_wrapper-anchored_graphic_card .graphic_card-graphic_card_image {
		border: 1px solid var(--border_colour);
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	}
	.graphic_card-graphic_card_image {
		display: block;
		height: 100%;
	}
	.cascade_wrapper-embed_card { }
	.cascade_wrapper-empty_card {
		flex: 1 0 auto;
		min-width:
			calc(	100vh /* screen height */
				- ((var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-top */
				+ var(--universal_answer) * var(--universal_answer_multiplier) /* navigation padding-bottom */
				+ var(--navigation_text_font_size)) /* navigation text line height */
				* 2) /* header height */
				- 1px /* idk why but there's an extra pixel */
			);
		max-width: 50vw;
	}

/*
┌─BEGIN─────────────────┐
│			│
│ FOOTER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.footer_container-footer_wrapper {
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
}
