/*
┌─BEGIN─────────────────┐
│			│
│ VARIABLE DECLARATIONS	│
│			│
└─BEGIN─────────────────┘
*/
:root {
	--universal_answer: 1vw;
	--universal_answer_multiplier: 2;
	--font_size: 1vw;
}

/*
┌─BEGIN─────────────────┐
│			│
│ UNIVERSAL RESETS	│
│			│
└─BEGIN─────────────────┘
*/
html, body {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* overscroll-behavior: none; */ /* for horizontal scrolling */
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	font-size: 100%;
	text-align: left;
	line-height: 100%;
}

/*
┌─BEGIN─────────────────┐
│			│
│ SNIPPET STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.--color_black {
	color: black;
}
.--font_size_universal_answer_single {
	font-size: calc(var(--font_size));
}
.--font_size_universal_answer_double {
	font-size: calc(var(--font_size) * 2);
}
.--text_align_center {
	text-align: center;
}
.--padding_bottom_universal_answer_single {
	padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
}
.--padding_bottom_universal_answer_double {
	padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier));
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTAINER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.mother_container {
	display: flex;
	flex-flow: column nowrap;
}
.mother_container-navigation_container { background-color: #fff; /* debug */ }
.mother_container-header_container {
	position: sticky;
	top: 0;
}
.mother_container-content_container { background-color: #fff; /* debug */ }
.mother_container-footer_container {
	position: sticky;
	bottom: 0;
	z-index: -1;
}

/*
┌─BEGIN─────────────────┐
│			│
│ NAVIGATION STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.navigation_container-navigation_list_wrapper {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	list-style: none;
	list-style-position: inside;
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	border-bottom: 1px solid #000;
}
.navigation_list_wrapper-navigation_list_item {
	flex: 1 1 0; /* stress test this with a higher number of listed pages */
}
.navigation_list_wrapper-navigation_list_item a {
	/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.25s;
}
.navigation_list_wrapper-navigation_list_item a:hover {
	/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
	background-size: 100% 2px;
}
.--active_navigation_list_item a {
	/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
	background-size: 100% 2px;
}

/*
┌─BEGIN─────────────────┐
│			│
│ HEADER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.header_container-header_anchor_wrapper_central { /* centralised header */ }
.header_container-header_anchor_wrapper_upper {
	/* maybe make it so that .header_anchor-header_graphic's visibility is hidden and set the graphic as a CSS background-image? */
	height: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2  * 5);
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	text-align: center;
}
.header_anchor_wrapper-header_anchor {
	width: auto;
	height: 100%;
}
.header_anchor-header_graphic {
	width: auto;
	height: 100%;
}

/*
┌─BEGIN─────────────────┐
│			│
│ CONTENT STYLING	│
│			│
└─BEGIN─────────────────┘
*/
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ PAGE HEADER STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-page_header {
		padding-top: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		padding-bottom: calc(var(--universal_answer) * var(--universal_answer_multiplier));
	}
	/*
	┌─BEGIN─────────────────┐
	│			│
	│ SHOWCASE STYLING	│
	│			│
	└─BEGIN─────────────────┘
	*/
	.content_container-showcase_wrapper {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		font-size: 0;
	}
	.showcase_wrapper-showcase_tile {
		flex: 0 0 33.33333333333333333333vw;
		height: 33.33333333333333333333vw;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/*
	┌─BEGIN─────────────────────────┐
	│				│
	│ PROJECT & CLIENT LIST STYLING	│
	│				│
	└─BEGIN─────────────────────────┘
	*/
	.content_container-project_list_wrapper-client_list_wrapper {
		display: flex;
		flex-flow: column nowrap;
		padding: 0;
		list-style: none;
		list-style-position: inside;
	}
	.project_list_wrapper-client_list_wrapper-project_list_item-client_list_item:first-child {
		border-top: 1px solid #000;
	}
	.project_list_wrapper-client_list_wrapper-project_list_item-client_list_item {
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
		border-bottom: 1px solid #000;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
	.project_list_wrapper-client_list_wrapper-tag_list_wrapper {
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		list-style: none;
		list-style-position: inside;
		padding-top: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.tag_list_wrapper-tag_list_item {
		padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		border: 1px solid #000;
		border-radius: 500px;
	}
	.tag_list_wrapper-tag_list_item:not(:first-child) {
		margin-left: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
		margin-right: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
	}
	.tag_list_wrapper-tag_list_item:last-child {
		margin-right: 0;
	}

/*
┌─BEGIN─────────────────┐
│			│
│ FOOTER STYLING	│
│			│
└─BEGIN─────────────────┘
*/
.footer_container-footer_text_wrapper {
	padding: calc(var(--universal_answer) * var(--universal_answer_multiplier));
}
