---
layout: default
---

<!-- begin cascade.html -->
					{%- comment -%}
						<!-- begin cascade setup -->
					{%- endcomment -%}
						{%- capture page_content -%}
							{{ content }}
						{%- endcapture -%}
						{%- assign separator = "<!-- break -->" -%}
						{%- assign processed_separator = "!<!-!-! !break! !-!-!>!" -%}
						{%- assign blocks = page_content | split: separator -%}
						{%- capture processed_blocks -%}
							{%- for block in blocks -%}
								{%- assign index = forloop.index0 -%}
								{%- if block contains "</p>" -%}
									{%- assign tag = "p" -%}
									{%- assign class = "paragraph" -%}
									{%- assign style = "lololojniodbab" -%}
								{%- elsif block contains "</p>" and block contains "<img" -%}
									{%- assign tag = "picture" -%}
									{%- assign class = "picture" -%}
									{%- assign style = "loololl" -%}
								{%- elsif block contains "</p>" and block contains "</a>" and block contains "<img" -%} {%- comment -%} > {%- endcomment -%}
									{%- assign tag = "picture" -%}
									{%- assign class = "picturewithlink" -%}
									{%- assign style = "lol" -%}
								{%- else -%}
									{%- assign tag = "undef" -%}
									{%- assign class = "undef" -%}
									{%- assign style = "none" -%}
								{%- endif -%}
								<!-- BLOCK BREAK -->
								<!-- --> INDEX {{ index }} <!-- -->
								<!-- --> TAG {{ tag }} <!-- -->
								<!-- --> CLASS {{ class }} <!-- -->
								<!-- --> STYLE {{ style }} <!-- -->
							{%- endfor -%}
						{%- endcapture -%}
						{%- assign block_content = processed_blocks | split: "<!-- BLOCK BREAK -->" -%}
					{%- comment -%}
						<!-- end cascade setup -->
					{%- endcomment -%}
					{%- for block in blocks %}
						{%- assign local = forloop.index0 | prepend: "<!-- --> INDEX " | append: " <!-- -->" -%}
						{%- for data in block_content -%}
							{%- if data contains local -%}
								{%- assign separated_data = data | remove: local | split: "<!-- -->" -%}
								{%- for datum in separated_data -%}
									{%- if datum contains "TAG" -%}
										{%- assign tag = datum | remove: "TAG" | strip -%}
									{%- endif -%}
									{%- if datum contains "CLASS" -%}
										{%- assign class = datum | remove: "CLASS" | strip -%}
									{%- endif -%}
									{%- if datum contains "STYLE" -%}
										{%- assign style = datum | remove: "STYLE" | strip -%}
									{%- endif -%}
								{%- endfor -%}
							{%- endif -%}
						{%- endfor %}
					<{{ tag }} class="{{ class }}" style="{{ style }}">
						{{ block | strip_html }}
					</{{ tag }}>
					{%- endfor %}
					<!-- end cascade.html -->
