---
layout: default
---

<!-- begin cascade.html -->
					{%- comment -%}
						<!-- begin cascade setup -->
					{%- endcomment -%}
						{%- capture page_content -%}
							{{ content }}
						{%- endcapture -%}
						{%- assign separator = "<!-- break -->" -%}
						{%- assign processed_separator = "!<!-!-! !break! !-!-!>!" -%}
						{%- assign blocks = page_content | split: separator -%}
						{%- assign processed_blocks = page_content | replace: separator, processed_separator | strip_html | split: processed_separator -%}
					{%- comment -%}
						<!-- end cascade setup -->
					{%- endcomment -%}
					{%- for processed_block in processed_blocks %}
					<section>
						{{ processed_block | strip }}
					</section>
					{%- endfor %}
					<!-- end cascade.html -->
