---
layout: default
---

{% assign entire_content = page.content %}
{% assign content_array = entire_content | newline_to_br | strip_newlines | split: "<br /><br />" %}
---
<h1>Each block is:</h1>
{% for block in content_array %}
	{% assign block_array = block | split: "<br />" | remove_first: "<br />" %}
	<pre><strong>- {{ block }}</strong></pre>
	<pre>	First item here is {{ block_array[0] }}</pre>
	<pre>	Second item here is {{ block_array[1] }}</pre>
	<pre>	Third item here is {{ block_array[2] }}</pre>
	<pre>	Fourth item here is {{ block_array[3] }}</pre>
	{% if block_array[0] == "!title" %}
		<h1>This has been recognised as a <pre>title</pre> block.</h1>
	{% elsif block_array[0] == "!footer" %}
		<h1>This has been recognised as a <pre>footer</pre> block.</h1>
	{% elsif block_array[0] == "!text" %}
		<h1>This has been recognised as a <pre>text</pre> block.</h1>
	{% elsif block_array[0] == "!image" %}
		<h1>This has been recognised as an <pre>image</pre> block.</h1>
	{% elsif block_array[0] == "!embed" %}
		<h1>This has been recognised as an <pre>embed</pre> block.</h1>
	{% else %}
		<h1>This has not been recognised as any known type of block.</h1>
	{% endif %}
{% endfor %}
---
<h1>Entire content is:</h1>
<pre>{{ entire_content }}</pre>
---
<h1>Content array is:</h1>
<pre>{{ content_array }}</pre>
---

---
<h1>First block is:</h1>
<pre>{{ content_array[0] }}</pre>
---
<h1>Second block is:</h1>
<pre>{{ content_array[1] }}</pre>
---
<h1>Third block is:</h1>
<pre>{{ content_array[2] }}</pre>
---
<h1>Fourth block is:</h1>
<pre>{{ content_array[3] }}</pre>
---
<h1>Fifth block is:</h1>
<pre>{{ content_array[4] }}</pre>
---
<h1>Sixth block is:</h1>
<pre>{{ content_array[5] }}</pre>
---
<h1>Seventh block is:</h1>
<pre>{{ content_array[6] }}</pre>
---
<h1>Eighth block is:</h1>
<pre>{{ content_array[7] }}</pre>
---
<h1>Ninth block is:</h1>
<pre>{{ content_array[8] }}</pre>
---
<h1>Tenth block is:</h1>
<pre>{{ content_array[9] }}</pre>
---
<h1>Eleventh block is:</h1>
<pre>{{ content_array[10] }}</pre>
---
<h1>Twelfth block is:</h1>
<pre>{{ content_array[11] }}</pre>
---






<!-- {% for line in content_array %}
	<p>- {{ line }}</p>
	{% assign line_array = line | split: " " %}
	<pre>	{{ line_array }}</pre>
	{% if line_array[0] == "!title" %}
		<pre>	This is recognised as a title!</pre>
	{% elsif line_array[0] == "!footer" %}
		<pre>	This is recognised as a footer!</pre>
	{% elsif line_array[0] == "!text" %}
		{% if line_array[1] == "!linkto" %}
			<pre>	This is recognised as some text with a link!</pre>
		{% else %}
			<pre>	This is recognised as some text!</pre>
		{% endif %}
	{% elsif line_array[0] == "!image" %}
		<pre>	This is recognised as an image!</pre>
	{% else %}
		<pre>	This is unrecognised.</pre>
	{% endif %}
{% endfor %} -->
