---
layout: default
---

{% assign entire_content = page.content %}
{% assign content_array = entire_content | strip_html | newline_to_br | strip_newlines | replace: "<br /><br />", "<br />" | split: "<br />" %}
<p>Entire content is:</p>
<p>{{ entire_content }}</p>
<br>
<p>Content array is:</p>
<p>{{ content_array }}</p>
<br>
{% for line in content_array %}
	<p>- {{ line }}</p>
	{% assign line_array = {{ line }} | split: " " %}
	{% if line_array[1] == "!title" %}
		<pre>	This is a title!</pre>
	{% elsif line_array[1] == "!footer" %}
		<pre>	This is a footer!</pre>
	{% elsif line_array[1] == "!text" %}
		<pre>	This is some text!</pre>
	{% elsif line_array[1] == "!image" %}
		<pre>	This is an image!</pre>
	{% else %}
		<pre>	This is unrecognised.</pre>
	{% endif %}
{% endfor %}
