---
layout: default
---

{% assign entire_content = page.content %}
{% assign content_array = entire_content | strip_html | newline_to_br | strip_newlines | replace: "<br /><br />", "<br />" | split: "<br />" %}
<p>Entire content is:</p>
<p>{{ entire_content }}</p>
<br>
{% for line in content_array %}
	<p>- {{ line }}</p>
	{% assign line_array = line | split: " " %}
	<pre>	{{ line_array }}</pre>
	{% if line_array[0] == "!title" %}
		<pre>	This is recognised as a title!</pre>
	{% elsif line_array[0] == "!footer" %}
		<pre>	This is recognised as a footer!</pre>
	{% elsif line_array[0] == "!text" %}
		{% if line_array[1] == "!linkto" %}
			<pre>	This is recognised as some text with a link!</pre>
		{% endf %}
		<pre>	This is recognised as some text!</pre>
	{% elsif line_array[0] == "!image" %}
		<pre>	This is recognised as an image!</pre>
	{% else %}
		<pre>	This is unrecognised.</pre>
	{% endif %}
{% endfor %}
