---
layout: article
---

<!-- begin contact.html -->
					<form class="main_wrapper-contact_wrapper --article_text_styling" action="https://formspree.io/f/mvovjwlo" method="post">
						<fieldset>
							<input name="Name" placeholder="Name" type="text" required>
							<input name="E-mail" placeholder="E-mail" type="email" required>
							<textarea name="Message" placeholder="Message" required></textarea>
							<button name="Send" type="submit" data-submit="Sending...">Send</button>
						</fieldset>
					</form>
				<!-- end contact.html -->
