---
layout: default
---

<!-- begin contact.html -->
					{%- comment -%}
						<!-- begin content setup -->
					{%- endcomment -%}
						{%- capture content_html -%}
							{%- include content.html -%}
						{%- endcapture -%}
					{%- comment -%}
						<!-- end content setup -->
					{%- endcomment -%}
					{%- comment -%}
						<!-- begin contact setup -->
					{%- endcomment -%}
						{%- capture contact -%}
					<form class="main_wrapper-contact_wrapper main_wrapper-special_content --article_section_styling" action="{{- site.['contact form action'] | strip -}}" method="post">
						<fieldset>
							<input name="Name" placeholder="Name" type="text" required dir="auto">
							<input name="E-mail" placeholder="E-mail" type="email" required dir="auto">
							<textarea name="Message" placeholder="Message" required dir="auto"></textarea>
							<button type="submit" data-submit="Sending..." dir="auto">Send</button>
						</fieldset>
					</form>
						{%- endcapture -%}
					{%- comment -%}
						<!-- end contact setup -->
					{%- endcomment -%}
					{{ content_html | replace: "<!-- SPECIAL BLOCK BREAK -->", contact | remove: "<!-- SPECIAL BLOCK BREAK -->" }}
				<!-- end contact.html -->
