{%- comment -%}
	<!-- begin setup -->
{%- endcomment -%}
	{%- comment -%}
		<!-- begin breadcrumb generation -->
	{%- endcomment -%}
		{%- assign tree = page.path | remove: ".markdown" | split: "/" -%}
		{%- capture crumbs -%}
			{%- comment -%}
				<!-- 	indices:
					[0]: title
					[1]: supernav
					[2]: subnav
				-->
			{%- endcomment -%}
			{%- for branch in tree -%}
				{%- assign segment = page.path | split: branch -%}
				{%- assign current = branch | prepend: segment[0] | append: ".markdown" -%}
				{%- assign level = forloop.index -%}
				{%- assign last = forloop.last -%}
				{%- if tree.size < 2 and level == 1 and current != "404.markdown" and current != "index.markdown" -%}
					{%- for node in site.pages -%}
						{%- assign level_one_current = current | remove_first: "_" -%}
						{%- if node.path == level_one_current -%}
							&nbsp;|&nbsp;{{- node.title -}}
							{%- unless last -%}
								&nbsp;|&nbsp;
							{%- endunless -%}
						{%- endif -%}
					{%- endfor -%}
				{%- elsif tree.size >= 2 and level == 1 and current != "404.markdown" and current != "index.markdown" -%}
					&nbsp;|&nbsp;
					{%- continue -%}
				{%- elsif level == 1 and current == "404.markdown" -%}
					&nbsp;|&nbsp;?
					{%- break -%}
				{%- else -%}
					{%- for node in site.documents -%}
						{%- if node.path == current -%}
							{{- node.title -}}
							{%- unless last -%}
								&nbsp;|&nbsp;
							{%- endunless -%}
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}
				<!-- break -->
				{%- if level == 1 and current != "404.markdown" -%}
					{%- for node in site.pages -%}
						{%- assign level_one_current = current | remove_first: "_" -%}
						{%- if node.path == level_one_current -%}
							<span class="supernav_item {%- if page.url == node.url %} --current {%- endif -%}" dir="auto">
								<a href="{{ site.baseurl }}{{ node.url }}">
									{{ node.title | strip }}
								</a>
							</span>
							{%- unless last -%}
								<span class="supernav_item --separator"></span>
							{%- endunless -%}
						{%- endif -%}
					{%- endfor -%}
				{%- elsif level == 1 and current == "404.markdown" -%}
					<span class="supernav_item --current" dir="auto">
						?
					</span>
					{%- break -%}
				{%- else -%}
					{%- for node in site.documents -%}
						{%- if node.path == current -%}
							<span class="supernav_item {%- if page.url == node.url %} --current {%- endif -%}" dir="auto">
								<a href="{{ site.baseurl }}{{ node.url }}">
									{{ node.title | strip }}
								</a>
							</span>
							{%- unless last -%}
								<span class="supernav_item --separator"></span>
							{%- endunless -%}
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}
				<!-- break -->
			{%- endfor -%}
		{%- endcapture -%}
		{%- assign breadcrumbs = crumbs | split: "<!-- break -->" -%}
	{%- comment -%}
		<!-- end breadcrumb generation -->
		<!-- begin body classes -->
	{%- endcomment -%}
		{%- capture body -%}
			{%- if page.url == "/" -%} --homepage {%- endif -%} {%- if page.header.['central header'] %} --central {%- else %} --upper {%- endif %} --{{ page.layout -}}
		{%- endcapture -%}
	{%- comment -%}
		<!-- end body classes -->
		<!-- begin body alt -->
	{%- endcomment -%}
		{%- capture alt -%}
			{%- if page.layout == "cascade" -%}
				<div class="body"><!-- break --></div>
			{%- endif -%}
		{%- endcapture -%}
		{%- assign bodyalt = alt | split: "<!-- break -->" -%}
	{%- comment -%}
		<!-- end body alt -->
		<!-- begin arrow -->
	{%- endcomment -%}
		{%- capture arrow -%}
			{%- if page.header.['central header'] -%}
				<div class="--downward_arrow"><div class="--arrow"></div></div>
			{%- endif -%}
		{%- endcapture -%}
	{%- comment -%}
		<!-- end arrow -->
		<!-- begin nav setup -->
	{%- endcomment -%}
		{%- assign pages = site.pages | sort: "position" -%}
		{%- capture supernav -%}
			{%- unless page.url == "/" -%}
				<input type="checkbox" id="supernav" />
				<div class="--nav_bg"></div>
				<label for="supernav" class="supernav" itemscope="itemscope">
					{{ breadcrumbs[1] | strip }}
				</label>
			{%- endunless -%}
		{%- endcapture -%}
	{%- comment -%}
		<!-- end nav setup -->
		<!-- begin header setup -->
	{%- endcomment -%}
		{%- assign header = page.header.image | strip -%}
	{%- comment -%}
		<!-- end header setup -->
	{%- endcomment -%}
{%- comment -%}
	<!-- end setup -->
{%- endcomment -%}
<!DOCTYPE HTML>
<html lang="en-GB" dir="auto">
	<head>
		<!-- begin google analytics -->
		<!-- end google analytics -->
		<!-- begin data -->
			<meta charset="utf-8">
			<title>{{ breadcrumbs[0] | prepend: site.title | strip }}</title>
			<meta name="description" content="{{ site.description | strip }}">
			<meta name="author" content="{{ site.author | strip }}">
			<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- end data -->
		<!-- begin icons -->
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
			<link rel="manifest" href="/site.webmanifest" />
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
			<meta name="msapplication-TileColor" content="#000000">
			<meta name="theme-color" content="#000000">
		<!-- end icons -->
		<!-- begin scripts -->
			<script src="{{ site.baseurl }}/assets/js/svg-inject.min.js" defer></script>
			<script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
		<!-- end scripts -->
		<!-- begin styles -->
			<link rel="preload" as="style" href="{{ site.baseurl }}/assets/css/main.css" />
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" media="all" />
		<!-- end styles -->
	</head>
	<body class="{{ body | strip }}">{{ bodyalt[0] | strip }}
		<div class="--body_bg"></div>
		{{ arrow | strip_newlines | strip }}
		<div class="mother_container">
			<nav class="nav_container" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				{{- supernav | strip | remove: "					" }}
				{%- assign i = 0 %}
				<ul class="nav" dir="auto">
					{%- for node in pages -%}
						{%- if node.['page nav'].['is navigable'] and tree.size >= 2 -%}
							{%- unless page.url contains node.url %}
					<li class="nav_wrapper-nav_item --nav_text_styling" dir="auto" itemprop="name">
						<a class="--anchor_styling" href="{{- site.baseurl -}}{{- node.url -}}" itemprop="url">
							{{ node.title | strip }}
						</a>
					</li>
							{%- else %}
					<li class="nav_wrapper-nav_item --nav_text_styling --current_nav_item">
						<span class="--median" dir="auto" itemprop="name">
							<a class="--anchor_styling" href="{{- site.baseurl -}}{{- node.url -}}" itemprop="url">
								{{ node.title | strip }}
							</a>
						</span>
						<ul class="nav_item-subnav_wrapper" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
							{%- for branch in tree -%}
								{%- assign segment = page.path | split: branch -%}
								{%- assign current = branch | prepend: segment[0] | append: ".markdown" -%}
								{%- assign level = forloop.index -%}
								{%- assign last = forloop.last -%}
								{%- if level == 1 and current != "404.markdown" -%}
									{%- continue -%}
								{%- else -%}
									{%- for node2 in site.documents -%}
										{%- if node2.path == current -%}
											{%- assign i = i | plus: 1 %}
							<li class="subnav_wrapper-subnav_item --subnav_text_styling {%- if page.url == node2.url %} --current_subnav_item {%- endif -%}" dir="auto" itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
								<a class="--anchor_styling" href="{{- site.baseurl -}}{{- node2.url -}}" itemprop="item">
									<span class="--median" itemprop="name">{{ node2.title | strip }}</span>
								</a>
								<meta itemprop="position" content="{{- i -}}" />
							</li>
											{%- unless last %}
							<span class="subnav_wrapper-subnav_item --subnav_text_styling --subnav_separator"></span>
											{%- endunless -%}
										{%- endif -%}
									{%- endfor -%}
								{%- endif -%}
							{%- endfor %}
						</ul>
					</li>
							{%- endunless -%}
						{%- elsif node.['page nav'].['is navigable'] and tree.size < 2 %}
					<li class="nav_wrapper-nav_item --nav_text_styling {%- if page.url contains node.url %} --current_nav_item-x {%- endif -%}" dir="auto" itemprop="name">
						<a class="--anchor_styling" href="{{- site.baseurl -}}{{- node.url -}}" itemprop="url">
							{{ node.title | strip }}
						</a>
					</li>
						{%- endif -%}
					{%- endfor %}
				</ul>
			</nav>
			<div class="--loader_wrapper" id="loader_wrapper">
				<div class="--loader" id="loader"></div>
			</div>
			<header class="mother_container-header_container" id="header_container" itemscope="itemscope" itemtype="https://schema.org/Brand" {%- if page.['page header'].styles %} style="{{- page.['page header'].styles | strip -}}" {%- endif -%}>
				<div class="header_container-header_wrapper">
					<a class="header_wrapper-header_anchor" href="{{- site.url -}}{{- site.baseurl -}}">
						<img class="header_anchor-header_graphic" id="header_graphic" alt="{{- site.author -}}" itemprop="logo" {%- if override == empty %} src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=" {%- else %} src="{{- page.['page header'].image -}}" {%- endif %} />
						<noscript>
							<img class="header_anchor-header_graphic" alt="Header" src="{{- site.baseurl -}}{{- site.['header images'][0] -}}" itemprop="logo" />
						</noscript>
					</a>
					<meta itemprop="name" content="{{- site.author | strip -}}" />
					<meta itemprop="description" content="{{- site.description | strip -}}" />
				</div>
			</header>
			<main class="mother_container-main_container" id="main_container" {%- if page.['page content'].['content styles'] %} style="{{- page.['page content'].['content styles'] | strip -}}" {%- endif -%}>

				{{ content }}
			</main>
			{%- unless cascade -%}
				{%- if page.['page footer'].['is displayed'] %}
			<footer class="mother_container-footer_container" {%- if page.['page footer'].styles %} style="{{- page.['page footer'].styles | strip -}}" {%- endif -%}>
				<div class="footer_container-footer_wrapper">
					{%- include footer.html %}				</div>
			</footer>
				{%- endif -%}
			{%- endunless %}
		</div>
	{{ bodyalt[1] }}</body>
</html>
