<!-- introduction -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }} | {{ page.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="author" content="{{ site.author }}">
		<!-- <link rel="shortcut icon" type="image/jpg" href=""/> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen"/>
		{% assign page_text_colour = page.text_colour | strip_newlines | strip %}
		{% unless page_text_colour == "#000" or page_text_colour == "#000000" or page_text_colour == "black" %}
			<script src="/assets/js/svg-inject.min.js"></script>
		{% else %}
			<!-- SVG injection unnecessary -->
		{% endunless %}
		<style>
			:root {
				--primary_colour: {{ page.primary_colour }};
				--secondary_colour: {{ page.secondary_colour }};
				--border_colour: {{ page.border_colour }};
				--text_colour: {{ page.text_colour }};
			}
		</style>
		<noscript>
			<style>
				#header_graphic {
					display: none;
				}
				.mother_container-header_container_central {
					top: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 0.75);
				}
				.header_container-header_wrapper_central {
					padding: calc(var(--universal_answer) * var(--universal_answer_multiplier) / 2);
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			</style>
		</noscript>
		<script>
			// https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
			let vh = window.innerHeight * 0.01;
			document.documentElement.style.setProperty('--vh', `${vh}px`);
			console.log("--vh has been set to " + `${vh}px` + ".");
			// window.addEventListener("orientationchange", function(event) {
			//	vh = window.innerWidth * 0.01;
			//	document.documentElement.style.setProperty('--vh', `${vh}px`);
			//	console.log("Detected change in orientation.");
			//	console.log("--vh is now equal to " + `${vh}px`);
			// });
			// https://www.sitepoint.com/community/t/random-image-with-css/1785/9
			// https://www.tutorialspoint.com/javascript/array_length.htm
			if (document.getElementById) {
				window.onload = swap;
			};
			function swap() {
				random_header_graphic_array = new Array(
					{% assign header_graphics = site.static_files | where: "header_graphic", true %}
					{% for header_graphic in header_graphics %}
						"{{ header_graphic.path }}"{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
				);
				var header_graphic_number = random_header_graphic_array.length;
				x = (Math.floor(Math.random() * header_graphic_number));
				random_header_graphic = (random_header_graphic_array[x]);
				document.getElementById("header_graphic").src = random_header_graphic;
				console.log("Loaded " + random_header_graphic + " from a total number of " + header_graphic_number + " header graphics.");
				{% unless page_text_colour == "#000" or page_text_colour == "#000000" or page_text_colour == "black" %}
					var extension = random_header_graphic.split(".").pop();
					if (extension == "svg") {
						SVGInject(document.getElementById("header_graphic"));
						console.log("SVG header injected.");
					} else {
						console.log("No SVG header detected. Injection has not occured.");
					}
				 {% else %}
					console.log("SVG header injection unnecessary.");
				 {% endunless %}
			}
			function lock_scroll() {
				window.scrollTo(0, 0);
				document.body.classList.toggle("--lock_scroll");
				console.log("Body scrolling temporarily locked.");
			}
			{% if page.header_location == "central" %}
				window.addEventListener("scroll", remove_indicator_arrow, {passive: true});
				function remove_indicator_arrow() {
					document.getElementById("indicator_arrow").style.opacity = "0";
					console.log("Indicator arrow hidden.");
					window.removeEventListener("scroll", remove_indicator_arrow, {passive: true});
					console.log("Scroll listener removed.");
					setTimeout(() => { document.getElementById("indicator_arrow").style.display = "none" }, 1250);
					setTimeout(() => { console.log("Indicator arrow removed.") }, 1250);
				}
			 	function scroll_arrow_into_view(event) {
					var scrolled_element = event.target;
					scrolled_element.scrollIntoView({
						behavior: 'auto',
						block: 'center',
						inline: 'center'
					});
					console.log("Scrolled arrow into middle of viewport.");
				}
			{% endif %}
		</script>
	</head>
	<body>
		<div class="--mobile_background"></div>
		<div class="mother_container {% if page.is_fullscreen == true %}--mother_container_fullscreen{% endif %}">
			<nav class="mother_container-navigation_container{% if page.header_location == "central" %}_central{% endif %}{% if page.header_location == "upper" %}_upper{% endif %}" id="navigation_container">
				<input type="checkbox" id="navigation_checkbox">
				<label for="navigation_checkbox" class="navigation_container_upper-navigation_checkbox_toggle" onClick="lock_scroll();">
					<div class="--expand_navigation_arrow"></div>
					<p class="--navigation_text_styling --page_header_text_styling">
						{{ page.title }}
					</p>
					<p class="--navigation_text_styling --page_header_text_styling">
						⟶ {{ page.title }}
					</p>
					<div class="--expand_navigation_arrow"></div>
				</label>
				<ul class="navigation_container-navigation_list_wrapper">
					{% assign sorted = site.pages | sort: "position" %}
					{% for item in sorted %}
						{% if item.is_listed == true %}
							<li class="navigation_list_wrapper-navigation_list_item --navigation_text_styling {% if item.url == page.url %}--active_navigation_text_styling{% endif %}">
								<a class="--anchor_styling" href="{{ item.url }}">
									{{ item.title }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
			<header class="mother_container-header_container{% if page.header_location == "central" %}_central{% endif %}{% if page.header_location == "upper" %}_upper{% endif %}" id="header_container">
				<div class="header_container-header_wrapper{% if page.header_location == "central" %}_central{% endif %}{% if page.header_location == "upper" %}_upper{% endif %}">
					<a class="header_wrapper-header_anchor" href="{{ site.url }}">
						<img class="header_anchor-header_graphic" id="header_graphic" alt="Header">
						<noscript>
							<img class="header_anchor-header_graphic" alt="Header" src="{{ header_graphics[0].path }}">
						</noscript>
					</a>
				</div>
				{% if page.header_location == "central" %}
					<script>
						// https://stackoverflow.com/questions/16302483/event-to-detect-when-positionsticky-is-triggered
						const header = document.getElementById('header_container');
						const observer = new IntersectionObserver( 
							([e]) => e.target.children[0].classList.toggle('header_container-header_wrapper_central_sticky', e.intersectionRatio < 1),
							{threshold: [1]}
						);
						observer.observe(header);
					</script>
				{% endif %}
			</header>
			<main class="mother_container-content_container" id="content_container">
				{{ content }}
			</main>
			{% if page.is_fullscreen == false %}
				<footer class="mother_container-footer_container">
					<div class="footer_container-footer_wrapper">
						{% include footer.html %}
					</div>
				</footer>
			{% endif %}
		</div>
		{% if page.header_location == "central" %}
			<div class="--indicator_arrow_wrapper_vertical" id="indicator_arrow" onClick="scroll_arrow_into_view(event);">
				<div class="--indicator_arrow_shaft"></div>
				<div class="--indicator_arrow_head"></div>
			</div>
		{% endif %}
	</body>
</html>
