---
layout: default
---

{% assign image_files = site.static_files | where: "look_gallery_graphic", true %}
{% for myimage in image_files %}
	{% assign path = myimage.path | replace: "/", " " %}
	{% assign look = page.title | downcase | replace: " ", "_" %}
	{% assign project = page.url | replace: "/", " " | replace: "-", "_" | remove: "styling_and_creative_direction" | remove: ".html" | remove: look | remove: " " %}
	<p>Image path is: {{ path }}</p>
	<p>Look is: {{ look }}</p>
	<p>Project is: {{ project }}</p>
	{% if path contains project and path contains look %}
		<p>This is contained!</p>
	{% else %}
		<p>This is not contained :(</p>
	{% endif %}
	<br>
{% endfor %}
