---
layout: default
---

{% assign image_files = site.static_files | where: "look_gallery_graphic", true %}
{% for myimage in image_files %}
	{% assign path = myimage.path | replace: "/", " " %}
	{% assign look = page.title | downcase | replace: " ", "_" %}
	{% assign project = page.url | replace: "/", " " | replace: "-", "_" | remove: "styling_and_creative_direction" | remove: ".html" | remove: look | remove: " " | append: " " %}
	{% if path contains project and path contains look %}
		<img src="{{ myimage.path }}">
	{% endif %}
	<br>
{% endfor %}
