---
layout: default
---

<!-- begin list.html -->
					{%- comment -%}
						<!-- begin article setup -->
					{%- endcomment -%}
						{%- capture content_html -%}
							{%- include content.html -%}
						{%- endcapture -%}
						{%- assign content_index = content_html | split: "<!-- CONTENT BREAK -->" -%}
					{%- comment -%}
						<!-- end article setup -->
					{%- endcomment -%}
					{%- comment -%}
						<!-- begin list setup -->
					{%- endcomment -%}
						{%- comment -%}
							partially from:
								- https://mmistakes.github.io/minimal-mistakes/docs/layouts/
								- https://github.com/mmistakes/minimal-mistakes/blob/master/docs/_pages/collection-archive.html
						{%- endcomment -%}
						{%- assign tree = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" | split: "/" -%}
						{%- assign root_collection = tree[0] -%}
						{%- assign current_page = page.path -%}
						{%- if tree.size == 1 -%}
							{%- assign root_page = true -%}
						{%- else -%}
							{%- assign root_page = false -%}
						{%- endif -%}
						<pre style="text-align: center; width: 100vw;">TREE: {{ tree | inspect }}</pre>
						<hr>
						<pre style="text-align: center; width: 100vw;">ROOT COLLECTION: {{ root_collection }}</pre>
						<hr>
						<pre style="text-align: center; width: 100vw;">CURRENT PAGE: {{ current_page }}</pre>
						<hr>
						<pre style="text-align: center; width: 100vw;">ROOT PAGE? {{ root_page }}</pre>
						<hr>


						{%- assign page_path = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" -%}
					{%- comment -%}
						<!-- end list setup -->
					{%- endcomment -%}
					{{- content_index[0] }}
					<ul class="main_wrapper-list_wrapper">
					</ul>
					{{- content_index[1] }}
					<!-- end list.html -->






					<ul class="main_wrapper-list_wrapper">
						{%- for collection in site.collections -%}
							{%- if collection.label == page_path -%}
								{%- assign items = collection.docs | sort: "position" -%}
								{%- for item in items -%}
									{%- assign item_path = item.path | remove_first: "_" | split: "/" -%}
									{%- unless item_path[2] %}
						<li class="list_wrapper-list_item --list_text_styling">
							<a class="--anchor_styling" href="{{- site.baseurl -}}{{- item.url -}}">
								{{ item.title }}
							</a>
											{%- if item.tags != empty %}
							<ul class="list_item-tag_list_wrapper">
													{%- for tag in item.tags %}
								<li class="tag_list_wrapper-tag_list_item --tag_text_styling">
									{{ tag }}
									<div class="--tag_unfilter"></div>
								</li>
													{%- endfor %}
							</ul>
											{%- endif %}
						</li>
									{%- endunless -%}
								{%- endfor -%}
							{%- endif -%}
						{%- endfor %}
					</ul>
					{{- content_index[1] }}
					<!-- end list.html -->
