---
layout: default
---

{% assign page_path = page.path | remove: ".md" | remove: ".markdown" | remove: ".html" %}
{% for collection in site.collections %}
	{% if collection.label == page_path %}
		<h1>{{ collection.label }}</h1>
		{% assign documents = collection.docs | sort: "position" %}
		{% for document in documents %}
			{% assign document_path = document.path | remove_first: "_" | split: "/" %}
			{% unless document_path[2] %}
				<pre>{{ document.title }} : {{ document.position }}</pre>
			{% endunless %}
		{% endfor %}
	{% endif %}
{% endfor %}
