---
layout: default
---

<div class="content_container-look_cascade_outer_wrapper">
	<ul class="content_container-look_cascade_inner_wrapper">
		{% assign image_files = site.static_files | where: "project_graphic", true %}
		{% for myimage in image_files %}
			{% assign path = myimage.path | replace: "/", " " %}
			{% assign title = page.title | downcase | replace: " ", "_" %}
			{% if path contains title %}
				<li class="look_cascade_wrapper-look_cascade_graphic_card">	
					<img class="look_cascade_graphic_card-look_cascade_graphic_card_graphic" src="{{ myimage.path }}">
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
<!--
<p>This is written in project.html</p>
<br/>
{% assign image_files = site.static_files | where: "project_graphic", true %}
{% for myimage in image_files %}
		{% assign title = page.title | downcase | replace: " ", "_" %}
		{% assign path = myimage.path | replace: "/", " " %}
		<p>{{ title }}</p>
		<p>{{ path }}</p>
		{% if path contains title %}
			<p>This file is contained.</p>
			{% else %}
			<p>This file is not contained.</p>
		{% endif %}
		<br/>
{% endfor %}
-->
